/*.main-footer {
    background: $mine-shaft-color-1;
    padding: 28px 0;
    .footer-text{
        color: $white-color;
        font-size: 13px;
    }
    display: none;
}*/

/*footer css start*/
 footer {background: #303030;padding: 20px 0 0 0;}
.copyright {background: #242424; color: #bebebe; text-align: center; line-height: 50px; font-size: 13px;}
.footer-title {font-size: 18px; color: #fff; text-align:center;  padding-bottom: 10px; position: relative; margin-bottom: 10px;}
.footer-title::after { content: ""; width: 80px; height: 1px; background: #8a8a8a; position: absolute; left: 46%; bottom: 0; }
.footer-logos {text-align: center;}
.footer-logos img {max-width: 80%; height: auto; margin: 15px auto; text-align: center;}
.champion{max-width: 90% !important;}
.footer-subtitle{ color:#bebebe; font-size: 14px; }


/*footer css End*/