@charset "UTF-8";
/*toolbar css start*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800,800i");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900");
.toolbar-left p {
  font-size: 16px;
  display: inline;
  color: #fff; }
  @media (max-width: 767px) {
    .toolbar-left p {
      font-size: 12px; } }
.toolbar-left span {
  font-size: 15px;
  display: inline-block;
  color: #fff; }
  @media (max-width: 767px) {
    .toolbar-left span {
      font-size: 12px; } }
@media (max-width: 767px) {
  .toolbar-left .User-1 {
    width: 25px;
    float: left; } }
@media (max-width: 767px) {
  .toolbar-left .User-2 {
    font-size: 12px;
    width: 80%;
    float: left; } }
.toolbar-left a {
  color: #fff;
  margin-right: 5px; }
  .toolbar-left a:hover, .toolbar-left a:focus {
    color: #cabad0; }

.toolbar {
  background: #000;
  padding: 10px 0; }
  .toolbar i {
    color: #fff;
    font-size: 20px; }
    @media (max-width: 767px) {
      .toolbar i {
        font-size: 18px; } }

.prodCart span {
  position: absolute;
  background: #ee435e;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  height: 20px;
  width: 20px;
  display: inline-block;
  left: 7px;
  top: -12px;
  line-height: 20px; }

#navbarDropdown {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  position: relative; }

.headerRight {
  position: relative;
  margin-bottom: 0; }

.headerRight .dropdown-menu {
  left: 0 !important;
  right: 0;
  padding: 0;
  background: #fff;
  margin: 0;
  border: none;
  text-align: left;
  border-radius: 0;
  top: 11px !important;
  min-width: 220px;
  border-radius: 10px;
  transform: translate3d(-113px, 19px, 0px) !important; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .headerRight .dropdown-menu {
      left: auto !important;
      transform: translate3d(13px, 21px, 0px) !important; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .headerRight .dropdown-menu {
      left: auto !important;
      transform: translate3d(13px, 18px, 0px) !important; } }
  @media (max-width: 767px) {
    .headerRight .dropdown-menu {
      left: auto !important;
      transform: translate3d(15px, 21px, 0px) !important; } }
  .headerRight .dropdown-menu .dropdown-item {
    color: #000;
    font-family: "Open Sans", sans-serif;
    padding: .75rem 1.5rem;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 0; }
    .headerRight .dropdown-menu .dropdown-item:hover {
      /*background-color: #fff;*/
      /* fallback color if gradients are not supported */
      color: #10113A; }
      .headerRight .dropdown-menu .dropdown-item:hover:first-child {
        border-radius: 10px 10px 0px 0px; }
      .headerRight .dropdown-menu .dropdown-item:hover:last-child {
        border-radius: 0 0 10px 10px; }
    .headerRight .dropdown-menu .dropdown-item:focus {
      /* fallback color if gradients are not supported */
      color: #000;
      background-color: #fff; }
      .headerRight .dropdown-menu .dropdown-item:focus:first-child {
        border-radius: 10px 10px 0px 0px; }
      .headerRight .dropdown-menu .dropdown-item:focus:last-child {
        border-radius: 0 0 10px 10px; }
    .headerRight .dropdown-menu .dropdown-item:active {
      background-color: #fff; }
    .headerRight .dropdown-menu .dropdown-item:disabled {
      background-color: #000; }
  .headerRight .dropdown-menu a:last-of-type {
    border: none; }

.headerRight li {
  display: inline-block;
  vertical-align: middle;
  /* img {
     width: 18px;
   }*/ }

.headerUser {
  margin-left: 10px;
  /* img{margin-top: -4px;}*/ }
  .headerUser p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: bottom; }
  .headerUser .dropdown {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    line-height: 16px; }
    .headerUser .dropdown #navbarDropdown {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      text-transform: capitalize;
      font-family: "Open Sans", sans-serif; }
      @media (max-width: 575px) {
        .headerUser .dropdown #navbarDropdown {
          font-size: 14px; } }
      .headerUser .dropdown #navbarDropdown i {
        font-size: 11px;
        margin-left: 4px; }
        .headerUser .dropdown #navbarDropdown i:after {
          display: none; }
      @media (max-width: 575px) {
        .headerUser .dropdown #navbarDropdown span {
          display: none; } }
    .headerUser .dropdown .dropdown-toggle::after {
      border: none;
      display: none !important;
      background: yellow; }
    .headerUser .dropdown .dropdown-menu {
      margin-top: 4px; }
  .headerUser .dropdown.show::before {
    content: "\f0d8";
    right: -4px;
    top: auto;
    font-family: 'fontawesome';
    color: #fff;
    font-size: 28px;
    position: absolute;
    bottom: -19px; }
  @media (max-width: 767px) {
    .headerUser {
      margin-left: 5px; } }

.notification_dropdown {
  margin-left: 10px; }
  .notification_dropdown .dropdown-toggle::after {
    display: none !important; }
  @media (max-width: 767px) {
    .notification_dropdown {
      margin-left: 5px; } }

/** notification  Css **/
.notification_dropdown.show::before {
  content: "\f0d8";
  right: -2px;
  top: auto;
  font-family: 'fontawesome';
  color: #fff;
  font-size: 28px;
  position: absolute;
  bottom: -30px; }

.notification_dropdown .dropdown-menu {
  min-width: 380px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px 12px 0px rgba(132, 146, 166, 0.2);
  padding-bottom: 0;
  left: auto;
  right: 0;
  margin-top: 4px;
  padding-bottom: 0;
  background: #fff;
  padding-top: 0;
  overflow: hidden;
  transform: translate3d(-344px, 23px, 0px) !important; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .notification_dropdown .dropdown-menu {
      left: auto !important;
      transform: translate3d(13px, 21px, 0px) !important; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .notification_dropdown .dropdown-menu {
      left: auto !important;
      transform: translate3d(13px, 18px, 0px) !important; } }
  @media (max-width: 767px) {
    .notification_dropdown .dropdown-menu {
      left: auto !important;
      transform: translate3d(15px, 21px, 0px) !important; } }

.notification_dropdown .dropdown-menu h3 {
  font-size: 14px;
  color: #222222;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  /*float: left;*/
  display: block;
  background: #fff;
  padding: 12px 20px; }

.notification_dropdown .dropdown-menu h3 span {
  display: inline-block; }

.notification_dropdown .dropdown-menu h4 {
  font-size: 14px;
  color: #444444;
  margin: 0px 0px 0px 5px;
  font-weight: bold;
  display: inline-block; }

.notification_dropdown .dropdown-menu h4 span {
  display: inline-block;
  font-weight: normal; }

.notification_dropdown .dropdown-menu .img-wrap {
  display: inline-block; }

.notification_dropdown .dropdown-menu .congrts-text {
  float: right;
  position: relative;
  z-index: 1; }

.notification_dropdown .dropdown-menu .dropdown-item {
  padding: .75rem 1.5rem;
  background: #fff;
  white-space: normal; }

.notification_dropdown .dropdown-menu .dropdown-item:hover {
  background: #fff; }

/*notification css end*/
.submit45 {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-family: 'lato';
  font-weight: 400;
  border-radius: 23px;
  padding: 2px 20px;
  border: 0px;
  background-color: #7728e5;
  /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* Standard syntax; must be last */
  box-shadow: none !important; }
  @media (max-width: 767px) {
    .submit45 {
      padding: 2px 10px;
      font-size: 12px; } }
  .submit45:hover, .submit45:focus {
    color: #fff;
    background-color: #7728e5;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* Standard syntax; must be last */ }

/*.main-footer {
    background: $mine-shaft-color-1;
    padding: 28px 0;
    .footer-text{
        color: $white-color;
        font-size: 13px;
    }
    display: none;
}*/
/*footer css start*/
footer {
  background: #303030;
  padding: 20px 0 0 0; }

.copyright {
  background: #242424;
  color: #bebebe;
  text-align: center;
  line-height: 50px;
  font-size: 13px; }

.footer-title {
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px; }

.footer-title::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #8a8a8a;
  position: absolute;
  left: 46%;
  bottom: 0; }

.footer-logos {
  text-align: center; }

.footer-logos img {
  max-width: 80%;
  height: auto;
  margin: 15px auto;
  text-align: center; }

.champion {
  max-width: 90% !important; }

.footer-subtitle {
  color: #bebebe;
  font-size: 14px; }

/*footer css End*/
@font-face {
  font-family: 'AVANTGA2';
  src: url("../fonts/AVANTGA2.eot");
  src: url("../fonts/AVANTGA2.eot") format("embedded-opentype"), url("../fonts/AVANTGA2.woff2") format("woff2"), url("../fonts/AVANTGA2.woff") format("woff"), url("../fonts/AVANTGA2.ttf") format("truetype"), url("../fonts/AVANTGA2.svg#AVANTGA2") format("svg"); }
@font-face {
  font-family: 'Aller_Lt';
  src: url("../fonts/Aller_Lt.eot");
  src: url("../fonts/Aller_Lt.eot") format("embedded-opentype"), url("../fonts/Aller_Lt.woff2") format("woff2"), url("../fonts/Aller_Lt.woff") format("woff"), url("../fonts/Aller_Lt.ttf") format("truetype"), url("../fonts/Aller_Lt.svg#Aller_Lt") format("svg"); }
@font-face {
  font-family: 'adira_display_ssiregular';
  src: url("../fonts/anja_eliane_nornal-webfont.woff2") format("woff2"), url("../fonts/anja_eliane_nornal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanovabold';
  src: url("../fonts/proximanovabold.eot");
  src: url("../fonts/proximanovabold.eot") format("embedded-opentype"), url("../fonts/proximanovabold.woff2") format("woff2"), url("../fonts/proximanovabold.woff") format("woff"), url("../fonts/proximanovabold.ttf") format("truetype"), url("../fonts/proximanovabold.svg#proximanovabold") format("svg"); }
@font-face {
  font-family: 'proximanovaextrabold';
  src: url("../fonts/proximanovaextrabold.eot");
  src: url("../fonts/proximanovaextrabold.eot") format("embedded-opentype"), url("../fonts/proximanovaextrabold.woff2") format("woff2"), url("../fonts/proximanovaextrabold.woff") format("woff"), url("../fonts/proximanovaextrabold.ttf") format("truetype"), url("../fonts/proximanovaextrabold.svg#proximanovaextrabold") format("svg"); }
@font-face {
  font-family: 'proximanovaregular';
  src: url("../fonts/proximanovaregular.eot");
  src: url("../fonts/proximanovaregular.eot") format("embedded-opentype"), url("../fonts/proximanovaregular.woff2") format("woff2"), url("../fonts/proximanovaregular.woff") format("woff"), url("../fonts/proximanovaregular.ttf") format("truetype"), url("../fonts/proximanovaregular.svg#proximanovaregular") format("svg"); }
@font-face {
  font-family: 'FontsFreeNetProximaNovaThin';
  src: url("../fonts/FontsFreeNetProximaNovaThin.eot");
  src: url("../fonts/FontsFreeNetProximaNovaThin.eot") format("embedded-opentype"), url("../fonts/FontsFreeNetProximaNovaThin.woff2") format("woff2"), url("../fonts/FontsFreeNetProximaNovaThin.woff") format("woff"), url("../fonts/FontsFreeNetProximaNovaThin.ttf") format("truetype"), url("../fonts/FontsFreeNetProximaNovaThin.svg#FontsFreeNetProximaNovaThin") format("svg"); }
:focus {
  outline: -webkit-focus-ring-color auto 0px;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }

.mt-0 {
  margin-top: 0px; }

.clear {
  clear: both; }

.container {
  max-width: 1170px !important;
  padding: 0 15px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden; }

.primary-btn {
  background: #ffd73c;
  color: #041b17;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 25px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block; }

.btn-secondary {
  background-color: #7728e5;
  /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* Standard syntax; must be last */
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px; }
  .btn-secondary:hover, .btn-secondary:focus {
    box-shadow: none !important;
    color: #fff;
    background-color: #7728e5;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* Standard syntax; must be last */ }

a.primary-btn:hover, a.primary-btn:focus, button.primary-btn:hover, button.primary-btn:focus {
  background: #75bd57;
  color: #fff !important; }

html, ul, p {
  margin: 0;
  padding: 0; }

a, button, a:focus, button:focus {
  outline: none; }

body {
  /*font-family: "Open Sans"; */
  font-family: 'proximanovaregular';
  color: #041b17;
  margin: 0;
  padding: 0;
  font-size: 16px;
  word-break: break-word; }

li {
  list-style: none; }

/*.form-group{
	margin-bottom: 24px;
}*/
label {
  font-size: 12px;
  color: #1f2d3d;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px; }

.df {
  display: flex; }

.text-gray {
  color: #878787; }

a {
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.text-border {
  position: relative;
  padding-bottom: 30px; }
  .text-border::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7728e5;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
    /* Standard syntax; must be last */ }

.load-more {
  font-size: 14px;
  font-family: 'AVANTGA2';
  background: #515151;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px; }
  .load-more:hover, .load-more:focus {
    background: #000;
    color: #fff; }

@media (min-width: 768px) and (max-width: 991px) {
  .inner-logo {
    max-width: 100%;
    width: 80% !important; } }
@media (min-width: 992px) {
  .inner-logo {
    max-width: 100%;
    width: 63% !important; } }
@media (min-width: 768px) {
  .inner-logo img {
    height: 40px !important; } }

.loginLogo {
  display: inline-block;
  margin-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .loginLogo {
      width: auto; } }
  @media (max-width: 575px) {
    .loginLogo {
      width: auto; } }
  .loginLogo .neosoft-logo {
    background: #FFF;
    /*padding: 12px 10px;*/
    padding: 12px 22px;
    float: left; }
    .loginLogo .neosoft-logo img {
      width: 160px; }
      @media (max-width: 576px) {
        .loginLogo .neosoft-logo img {
          width: 129px; } }
    @media (max-width: 767px) {
      .loginLogo .neosoft-logo {
        padding: 12px 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginLogo .neosoft-logo {
        padding: 12px 14px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .loginLogo .neosoft-logo {
        padding: 12px 7px; } }
  .loginLogo .spark_logo {
    background: #000;
    /*padding: 9px 37px;*/
    padding: 9px 30px;
    float: left; }
    .loginLogo .spark_logo img {
      /*width: 134px;*/
      width: 145px; }
      @media (max-width: 576px) {
        .loginLogo .spark_logo img {
          width: 110px; } }
    @media (max-width: 767px) {
      .loginLogo .spark_logo {
        padding: 11px 15px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginLogo .spark_logo {
        padding: 9px 16px; } }

.breadcrumb {
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent; }
  .breadcrumb a {
    color: #9c2bc2; }
    .breadcrumb a:hover {
      color: #8e8e8e; }
  .breadcrumb .breadcrumb-item {
    font-size: 13px;
    font-family: "Open Sans"; }
    .breadcrumb .breadcrumb-item.active {
      color: #000; }

/*toolbar css end*/
ul.event-list {
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 320px) and (max-width: 767px) {
    ul.event-list {
      float: left;
      justify-content: normal; } }
  ul.event-list li {
    font-size: 18px;
    margin-right: 12px;
    background: #571bc4;
    border-radius: 35px;
    color: #fff;
    /*padding: 10px 20px;*/
    padding: 10px 20px 6px;
    display: inline-flex;
    text-transform: uppercase;
    margin-bottom: 12px; }
    ul.event-list li:hover {
      background: #00c3ff; }
    ul.event-list li a {
      color: #fff; }
      ul.event-list li a:hover {
        color: #fff; }
    ul.event-list li:last-child {
      margin-right: 0px; }
    @media (max-width: 1200px) {
      ul.event-list li {
        font-size: 16px; } }
    @media (max-width: 991px) {
      ul.event-list li {
        font-size: 14px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      ul.event-list li {
        padding: 10px 14px;
        margin-right: 8px;
        font-size: 13px; } }
    @media (max-width: 767px) {
      ul.event-list li {
        font-size: 15px; } }
  ul.event-list li.active {
    background: #00c3ff; }
    ul.event-list li.active a, ul.event-list li.active a:hover {
      color: #000; }

.event-name {
  background: #00c3ff;
  box-shadow: 0px 14px 0px #4b12af;
  width: 100%;
  min-height: 375px;
  border-radius: 30px;
  float: right;
  margin-top: 40px;
  position: relative;
  padding: 80px 50px 70px; }
  @media (max-width: 575px) {
    .event-name {
      padding: 70px 30px; } }
  .event-name:before {
    position: absolute;
    width: 35px;
    height: 70px;
    background: #fff;
    border-radius: 15px;
    border: 10px solid #7435e2;
    z-index: 9;
    content: "";
    left: 22%;
    top: -35px; }
  .event-name:after {
    position: absolute;
    width: 35px;
    height: 70px;
    background: #fff;
    border-radius: 15px;
    border: 10px solid #7435e2;
    z-index: 9;
    content: "";
    left: 70%;
    top: -35px; }
  .event-name span {
    color: #9d1ec6;
    font-size: 25px;
    width: 100%;
    padding-bottom: 20px;
    display: flex; }
  .event-name h1 {
    color: #9d1ec6;
    font-size: 65px;
    font-weight: bold;
    width: 100%;
    display: flex;
    line-height: 60px;
    letter-spacing: -3px; }
    @media (max-width: 575px) {
      .event-name h1 {
        font-size: 52px; } }

@media (max-width: 767px) {
  .home-banner-image {
    display: none; } }
.home-banner-image img {
  max-width: 100%; }

@media (max-width: 767px) {
  .login-banner-image {
    display: none; } }
.login-banner-image img {
  max-width: 100%; }

.des-box {
  box-shadow: 0px 0px 40px #e2e2e2;
  margin-top: 70px;
  margin-bottom: 90px; }

.description {
  padding: 50px;
  background: #fff; }
  @media (min-width: 320px) and (max-width: 767px) {
    .description {
      padding: 25px; } }
  .description h2 {
    color: #a42dd0;
    font-size: 35px;
    margin-bottom: 30px; }
  .description p {
    color: #4f4f4f;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px; }
  .description ul {
    margin-bottom: 20px; }
    .description ul li {
      color: #797979;
      font-size: 20px;
      border-bottom: 1px solid #dadada;
      padding: 10px 0; }
      .description ul li strong {
        color: #4f4f4f; }
      .description ul li:last-child {
        border-bottom: none; }

.venues {
  padding: 50px;
  background: #000;
  position: relative;
  min-height: 700px; }
  .venues h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
    position: absolute;
    z-index: 2; }
  .venues ul {
    position: absolute;
    z-index: 2;
    top: 100px; }
    .venues ul li {
      color: #fff;
      font-size: 25px;
      background: url(../images/location.png) no-repeat 5px 27px;
      padding: 20px 0 20px 45px; }
  .venues img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.participants {
  background-image: url(../images/participants-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 40px; }
  .participants h2 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    padding: 50px 0 50px 0; }
    @media (min-width: 350px) and (max-width: 420px) {
      .participants h2 {
        font-size: 55px; } }

.filter-button {
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  background: transparent;
  min-width: 160px;
  padding: 12px 0; }
  @media (max-width: 575px) {
    .filter-button {
      min-width: 138px; } }

.filter-button:hover {
  border: 1px solid #6e2fe2;
  text-align: center;
  color: #ffffff;
  background-color: #6e2fe2; }

.btn-default:active .filter-button:active {
  background-color: #6e2fe2;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; }

.three-pic-card {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  border-bottom: 5px solid transparent; }
  .three-pic-card ul {
    width: 100%;
    display: block;
    position: relative;
    min-height: 100px; }
    .three-pic-card ul li {
      display: inline-block; }
      .three-pic-card ul li img {
        border-radius: 50%;
        border: 2px solid #fff;
        width: 77px;
        height: 77px;
        top: 0;
        left: 28%;
        position: absolute;
        z-index: 10; }
      .three-pic-card ul li:first-child img {
        border-radius: 50%;
        border: 2px solid #fff;
        width: 67px;
        height: 67px;
        top: 5px;
        left: -7%;
        position: absolute; }
      .three-pic-card ul li:last-child img {
        border-radius: 50%;
        border: 2px solid #fff;
        width: 67px;
        height: 67px;
        top: 5px;
        left: 70%;
        position: absolute;
        z-index: 9; }
  .three-pic-card h3 {
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 25px; }
  .three-pic-card span {
    color: #797979;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: block; }
  .three-pic-card:hover {
    border-bottom: 5px solid #6b2ee1;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out; }
    .three-pic-card:hover h3 {
      color: #6b2ee1; }

/*home banner css start*/
.home-banner {
  /*@include bgimg(cover,no-repeat,right center);*/
  background-image: url(../images/banner-inner.jpg);
  margin-top: 0px;
  height: 742px;
  background-size: cover;
  background-position: top center;
  /* .loginLogo img{
     @media(max-width: 767px){
       width: 80px;
       height: 30px;
     }
     @media(min-width: 768px) and (max-width: 991px){
       max-width: 100%;
       height: 37px;
       width: 150px;
     }
     @media(min-width: 992px){
       max-width: 100%;
       height: 52px;
       width: 150px;
     }
   }*/ }

.banner-logo {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.home-logo {
  margin-bottom: 90px; }
  @media (max-width: 575px) {
    .home-logo {
      margin-bottom: 40px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .home-logo {
      margin-bottom: 60px; } }
  @media (max-width: 575px) {
    .home-logo img {
      max-width: 100%; } }

.home-banner1 {
  /*@include bgimg(cover,no-repeat,right center);*/
  background-image: url(../images/banner-inner.jpg);
  margin-top: 0px;
  height: 742px;
  background-size: cover;
  background-position: top center; }

.vote-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/vote-banner-bg.jpg);
  margin-top: 0px;
  height: 620px; }
  @media (max-width: 767px) {
    .vote-banner {
      height: 392px;
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Firefox (3.6 to 15) */
      background: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For old Opera (11.1 to 12.0) */
      background: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* Standard syntax; must be last */ } }

.upcoming-event-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/upcoming-event-bg.jpg);
  margin-top: 0px;
  height: 620px; }
  @media (max-width: 767px) {
    .upcoming-event-banner {
      min-height: 320px;
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Firefox (3.6 to 15) */
      background: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For old Opera (11.1 to 12.0) */
      background: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* Standard syntax; must be last */ } }

.vote-now h1 {
  display: block;
  /*margin-top: 20px;*/
  margin-top: 50px;
  font-family: 'adira_display_ssiregular';
  font-size: 70px;
  color: #fff;
  text-transform: uppercase; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .vote-now h1 {
      font-size: 60px; } }
  @media (max-width: 767px) {
    .vote-now h1 {
      margin-top: 10px;
      font-size: 40px; } }
.vote-now span {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .vote-now span {
      font-size: 18px; } }
  @media (max-width: 320px) {
    .vote-now span {
      font-size: 16px; } }

.vote-now45 h1 {
  display: block;
  /*margin-top: 20px;*/
  margin-top: 126px;
  font-family: 'adira_display_ssiregular';
  font-size: 70px;
  color: #fff;
  text-transform: uppercase; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .vote-now45 h1 {
      font-size: 60px;
      margin-top: 50px; } }
  @media (max-width: 767px) {
    .vote-now45 h1 {
      margin-top: 10px;
      font-size: 40px; } }
.vote-now45 span {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .vote-now45 span {
      font-size: 18px; } }
  @media (max-width: 320px) {
    .vote-now45 span {
      font-size: 16px; } }

.Vote1 {
  max-width: 60%;
  line-height: 72px; }
  @media (max-width: 1280px) {
    .Vote1 {
      max-width: 50%; } }
  @media (max-width: 767px) {
    .Vote1 {
      max-width: 100%; } }

.Vote2 {
  line-height: 72px; }

.participants-list {
  padding: 20px 0; }
  .participants-list h2 {
    display: block;
    color: #9d1ec6;
    font-size: 45px;
    text-align: center;
    font-weight: 600; }
  .participants-list p {
    display: block;
    color: #585858;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .participants-list .filter-button {
    font-size: 18px;
    border: 1px solid #00c3ff;
    border-radius: 30px;
    text-align: center;
    color: #00c3ff;
    margin-bottom: 30px;
    background: transparent;
    min-width: 160px;
    padding: 12px 0; }
    .participants-list .filter-button:focus {
      box-shadow: none; }
    .participants-list .filter-button:hover a {
      color: #fff; }
    @media (max-width: 575px) {
      .participants-list .filter-button {
        min-width: 138px; } }
  .participants-list .filter-button:hover {
    text-align: center;
    color: #ffffff;
    background-color: #00c3ff; }
  .participants-list .filter-button:active {
    background-color: #6e2fe2;
    color: white; }
  .participants-list .btn-default:active {
    background-color: #6e2fe2;
    color: white; }
  .participants-list .btn-default:not(:disabled):not(.disabled).active, .participants-list .btn-default:not(:disabled):not(.disabled):active, .participants-list .show > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #00c3ff;
    border-color: #00c3ff; }
    .participants-list .btn-default:not(:disabled):not(.disabled).active a, .participants-list .btn-default:not(:disabled):not(.disabled):active a, .participants-list .show > .btn-default.dropdown-toggle a {
      color: #fff; }
  .participants-list .owl-carousel .owl-nav button.owl-prev, .participants-list .owl-carousel .owl-nav button.owl-next, .participants-list .owl-carousel button.owl-dot {
    color: #666; }

.participants-gallery {
  margin-bottom: 70px; }

.upcoming-event {
  margin: 70px 0; }

.upcoming-event-card {
  position: relative;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 30px;
  border-bottom: 5px solid transparent; }
  .upcoming-event-card img {
    width: 100%;
    max-height: 200px; }
  .upcoming-event-card h3 {
    color: #6e30e1;
    display: block;
    font-size: 23px;
    padding: 25px 20px 20px 20px;
    text-align: center; }
  .upcoming-event-card p {
    color: #585858;
    display: block;
    font-size: 17px;
    padding: 0 20px;
    text-align: center;
    line-height: 24px;
    min-height: 110px; }
  .upcoming-event-card span {
    margin-bottom: 40px;
    display: block; }
    .upcoming-event-card span a {
      font-size: 14px;
      display: inline-block;
      border: 1px solid #00c3ff;
      border-radius: 30px;
      text-align: center;
      color: #00c3ff;
      background: transparent;
      text-transform: capitalize;
      min-width: 160px;
      padding: 12px 32px; }
      .upcoming-event-card span a:hover {
        background: #00c3ff;
        color: #fff;
        border: 1px solid #00c3ff; }
  .upcoming-event-card:hover {
    border-bottom: 5px solid #6b2ee1;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out; }

.gallery-title h2 {
  padding: 0 0 20px 0;
  text-align: center;
  display: block; }

#EventList {
  position: relative; }
  #EventList .owl-item img {
    width: 88%;
    margin: 0 auto;
    border-radius: 30px; }
  #EventList .owl-nav button.owl-prev {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 27%; }
  #EventList .owl-nav button.owl-next {
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 27%; }

.voting-details {
  padding: 50px 0;
  display: block;
  /*-----Rating---*/ }
  .voting-details h2 {
    display: block;
    color: #9d1ec6;
    font-size: 45px;
    text-align: center;
    font-weight: 600; }
  .voting-details span {
    margin-top: 10px;
    display: inline-block; }
    .voting-details span a {
      color: #00c3ff;
      font-size: 18px;
      text-align: right;
      border: 1px solid #00c3ff;
      border-radius: 30px;
      padding: 12px 50px; }
      .voting-details span a:hover {
        color: #ffffff;
        background-color: #00c3ff; }
  .voting-details .vote-details {
    margin-top: 40px; }
    .voting-details .vote-details h3 {
      display: block;
      font-size: 33px;
      padding-bottom: 10px; }
    .voting-details .vote-details p {
      display: block;
      font-size: 20px;
      color: #2f2f2f; }
    .voting-details .vote-details span {
      font-size: 17px;
      color: #7c7c7c; }
    .voting-details .vote-details h4 {
      display: block;
      font-size: 28px;
      color: #a42dd0;
      padding: 30px 0 10px 0; }
      .voting-details .vote-details h4 span {
        font-size: 23px;
        color: #a0a0a0; }
    .voting-details .vote-details ul {
      display: block; }
      .voting-details .vote-details ul li {
        font-size: 20px;
        color: #585858;
        list-style: none;
        padding: 0px 0 15px 20px;
        background: url(../images/bullet.png) no-repeat left 9px; }
    .voting-details .vote-details textarea {
      width: 100%;
      height: 150px;
      background: #ededed;
      border-radius: 10px;
      border: 0px;
      padding: 20px;
      font-size: 22px;
      color: #666; }
    .voting-details .vote-details button.btn {
      color: #00c3ff;
      font-size: 18px;
      text-align: right;
      border: 1px solid #00c3ff;
      border-radius: 30px;
      padding: 10px 30px;
      background: transparent;
      float: right;
      margin-top: 20px; }
      .voting-details .vote-details button.btn:hover {
        color: #ffffff;
        background-color: #00c3ff; }
      .voting-details .vote-details button.btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }
  .voting-details ul.comments {
    width: 100%;
    margin-top: 20px; }
    .voting-details ul.comments li {
      border-bottom: 1px solid #ccc;
      padding: 15px 0; }
      .voting-details ul.comments li span {
        font-size: 20px;
        color: #444444;
        font-weight: bold;
        padding-bottom: 2px;
        margin-top: 0;
        display: block; }
        .voting-details ul.comments li span:last-child {
          font-size: 12px;
          color: #ccc;
          padding-bottom: 10px;
          font-weight: 100; }
      .voting-details ul.comments li p {
        font-size: 18px;
        color: #585858; }
      .voting-details ul.comments li:last-child {
        border-bottom: none; }
  .voting-details .rating {
    display: flex;
    /*.rate:not(:checked) > label:active,
    .rate:not(:checked) > label:active ~ label {
        color: #f00;  
    }*/
    /*.rate > input:checked + label:active,
    .rate > input:checked + label:active ~ label,
    .rate > input:checked ~ label:active,
    .rate > input:checked ~ label:active ~ label,
    .rate > label:active ~ input:checked ~ label {
        color: #f00;
    }*/ }
    .voting-details .rating .rate {
      height: 70px;
      padding: 0;
      float: left; }
    .voting-details .rating .rate:not(:checked) > input {
      position: absolute;
      top: -9999px; }
    .voting-details .rating .rate:not(:checked) > label {
      float: right;
      width: 50px;
      font-size: 55px;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      color: #cacaca; }
      @media (max-width: 767px) {
        .voting-details .rating .rate:not(:checked) > label {
          width: 33px;
          font-size: 40px; } }
    .voting-details .rating .rate:not(:checked) > label:before {
      content: '★ '; }
    .voting-details .rating .rate > input:checked ~ label {
      color: #FFCD05; }
    .voting-details .rating .rate:not(:checked) > label:hover,
    .voting-details .rating .rate:not(:checked) > label:hover ~ label {
      color: #FFCD05; }
    .voting-details .rating .rate > input:checked + label:hover,
    .voting-details .rating .rate > input:checked + label:hover ~ label,
    .voting-details .rating .rate > input:checked ~ label:hover,
    .voting-details .rating .rate > input:checked ~ label:hover ~ label,
    .voting-details .rating .rate > label:hover ~ input:checked ~ label {
      color: #FFCD05; }
  .voting-details .filter-button {
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    color: #6e2fe2;
    margin-bottom: 30px;
    background: transparent;
    min-width: 160px;
    padding: 12px 0; }
    @media (max-width: 575px) {
      .voting-details .filter-button {
        min-width: 138px; } }
  .voting-details .filter-button:hover {
    border: 1px solid #6e2fe2;
    text-align: center;
    color: #ffffff;
    background-color: #6e2fe2; }
  .voting-details .btn-default:active .filter-button:active {
    background-color: #6e2fe2;
    color: white; }
  .voting-details .owl-carousel .owl-nav button.owl-prev, .voting-details .owl-carousel .owl-nav button.owl-next, .voting-details .owl-carousel button.owl-dot {
    color: #666; }

/* Registartion*/
.registration {
  padding: 50px;
  display: block; }
  .registration h2 {
    display: block;
    font-size: 35px;
    color: #a42dd0; }
  .registration form label {
    font-size: 14px;
    color: #1f2d3d;
    width: 100%;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin: 30px 0px 0px 0px; }
  .registration form input {
    width: 100%;
    height: 50px;
    background: #ededed;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-size: 15px;
    color: #666;
    margin-top: 10px; }
  .registration form input.file-type {
    padding: 14px 20px 10px 16px;
    font-size: 13px; }
  .registration form textarea {
    width: 100%;
    height: 150px;
    background: #ededed;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    font-size: 22px;
    color: #666; }
  .registration button.btn {
    color: #00c3ff;
    font-size: 18px;
    text-align: right;
    border: 1px solid #00c3ff;
    border-radius: 30px;
    padding: 10px 30px;
    background: transparent;
    float: right;
    margin-top: 0px; }
    .registration button.btn:hover {
      color: #ffffff;
      background-color: #00c3ff; }
    .registration button.btn:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }
  .registration .parti-name {
    display: block; }
    .registration .parti-name span {
      width: 70%;
      display: inline-block;
      position: relative; }
      .registration .parti-name span i {
        position: absolute;
        top: 25px;
        right: -5px; }
    .registration .parti-name span:nth-child(2) {
      margin-left: 10px;
      width: 26%; }
  .registration .add-another {
    padding: 15px 0 0 0; }
    .registration .add-another a {
      height: 30px;
      color: #b30096;
      font-size: 14px;
      font-weight: 800;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 0.7px; }

.regi-pic {
  padding-right: 0px; }
  .regi-pic img {
    max-width: 100%;
    min-height: 100%; }

/* Registartion*/
/*Submission*/
.submission {
  position: relative; }
  .submission img {
    height: 280px;
    max-height: 280px;
    max-width: 100%;
    margin-bottom: 25px;
    margin-top: 15px; }
  .submission i {
    position: absolute;
    font-size: 23px;
    /*top: -10px;*/
    right: 40px;
    background: #fff;
    border-radius: 50%; }

/*Submission*/
/*Small Rating Start*/
.rating-one {
  width: 100px;
  height: 20px;
  background: url("../images/rating.svg") no-repeat 0 0;
  background-size: 100%;
  float: right;
  margin-bottom: 30px;
  margin-top: 10px; }

.rating-two {
  width: 100px;
  height: 20px;
  background: url("../images/rating.svg") no-repeat 0 -22px;
  background-size: 100%;
  float: right;
  margin-bottom: 30px;
  margin-top: 10px; }

.rating-three {
  width: 100px;
  height: 20px;
  background: url("../images/rating.svg") no-repeat 0 -41px;
  background-size: 100%;
  float: right;
  margin-bottom: 30px;
  margin-top: 10px; }

.rating-four {
  width: 100px;
  height: 20px;
  background: url("../images/rating.svg") no-repeat 0 -63px;
  background-size: 100%;
  float: right;
  margin-bottom: 30px;
  margin-top: 10px; }

.rating-five {
  width: 100px;
  height: 20px;
  background: url("../images/rating.svg") no-repeat 0 -82px;
  background-size: 100%;
  float: right;
  margin-bottom: 30px;
  margin-top: 10px; }

/*Small Rating End*/
/*---Gallery---*/
#masonry {
  column-count: 1;
  column-gap: 0em; }
  #masonry .item {
    margin: 0;
    width: 100%;
    cursor: pointer; }
    #masonry .item img {
      max-width: 100%;
      height: auto;
      width: 100%;
      /*idk why but this fix stuff*/ }
  #masonry .item.active {
    animation-name: active-in;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-direction: alternate; }
    #masonry .item.active img {
      animation-name: active-in-img;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-direction: alternate; }
    #masonry .item.active:before {
      content: "+";
      transform: rotate(45deg);
      font-size: 48px;
      color: white;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0.85);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      z-index: 12; }
@keyframes active-in {
  0% {
    opacity: 1;
    background-color: white; }
  50% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); } }
@keyframes active-in-img {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%; }
  49% {
    opacity: 0;
    transform: translate(0%, -50%); }
  50% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); }
  100% {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: auto;
    max-height: 95vh;
    opacity: 1; } }
@media (min-width: 480px) {
  #masonry {
    column-count: 1;
    column-gap: 0px; } }
@media (min-width: 640px) {
  #masonry {
    column-count: 2;
    column-gap: 0px; } }
@media (min-width: 720px) {
  #masonry {
    column-count: 2;
    column-gap: 0px; } }
@media (min-width: 1200px) {
  #masonry {
    column-count: 3;
    column-gap: 0px; } }
/*---Gallery end---*/
.box14 {
  position: relative;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 30px;
  border-bottom: 5px solid transparent;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  transition-property: transform, opacity; }
  .box14:hover {
    border-bottom: 5px solid #8c21c6;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out; }
  .box14 h3 {
    color: #000;
    display: block;
    font-size: 23px;
    padding: 20px 0 0px 0; }
  .box14 span {
    color: #797979;
    display: block;
    font-size: 14px;
    padding: 0 0 20px 0; }
  .box14 ul {
    border-top: 1px solid #dcdcdc;
    margin: 0 auto;
    width: 90%; }
    .box14 ul li {
      width: 48%;
      display: inline-block;
      font-size: 14px;
      color: #00a1d3;
      padding: 10px 0; }
      .box14 ul li:first-child {
        text-align: left; }
      .box14 ul li:last-child {
        text-align: right; }

.box15, .box17, .box18 {
  box-shadow: 0 0 5px #7e7d7d;
  text-align: center; }

.box14:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(147, 83, 183, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .35s ease 0s; }

.box14:hover:before {
  opacity: 1; }

.box14 img {
  width: 100%;
  max-height: 200px; }

.box14 .box-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%; }

.box14 .box-content:after, .box14 .box-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .7s ease 0s; }

.box14:hover .box-content:before {
  border: 1px solid rgba(255, 255, 255, 0.5); }

.box14 .box-content:before {
  border-radius: 20px;
  transform: scale(0, 1);
  transform-origin: 0 0 0; }

.box14 .box-content:after {
  transform: scale(1, 0);
  transform-origin: 100% 0 0; }

.box14:hover .box-content:after, .box14:hover .box-content:before {
  opacity: 1;
  transform: translateY(5px);
  transition-delay: .15s; }

.box14 .title {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0;
  opacity: 0;
  transform: translate3d(0, -50px, 0);
  transition: transform .5s ease 0s; }

.box14:hover .title {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.box14 .post {
  top: 38%;
  left: 32%;
  font-size: 16px;
  color: #fff;
  padding: 15px 20px;
  background: transparent;
  opacity: 0;
  border-radius: 30px;
  border: 1px solid #fff;
  transform: translate3d(0, -50px, 0);
  transition: all .7s ease 0s;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 9; }
  .box14 .post:hover {
    background: #00c3ff;
    color: #fff;
    border: 1px solid #00c3ff; }
  .box14 .post a {
    color: #fff;
    cursor: pointer;
    width: 100%;
    line-height: 23px; }

.box14 .icon, .box15 .icon {
  padding: 0;
  list-style: none; }

.box14:hover .post {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: .15s; }

.box14 .icon {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all .7s ease 0s; }

.box14:hover .icon {
  bottom: 20px;
  opacity: 1;
  transition-delay: .15s; }

.box14 .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 0 16px;
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
  transition: all .4s ease 0s; }

.box14 .icon li a:hover {
  background: #d79719;
  border-color: #d79719; }

@media only screen and (max-width: 990px) {
  .box14 {
    margin-bottom: 30px; } }
.load-btn {
  text-align: center; }
  .load-btn .btn {
    margin-top: 30px;
    font-size: 18px;
    background: #571bc4;
    border-radius: 35px;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    margin-bottom: 12px; }
    .load-btn .btn:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important; }

.rld {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 25px; }
  .rld li {
    display: inline-block;
    color: #fff;
    font-size: 58px;
    text-transform: uppercase;
    line-height: 59px;
    position: relative;
    padding-left: 20px !important;
    margin-left: 8px;
    font-family: 'AVANTGA2'; }
    @media (max-width: 575px) {
      .rld li {
        font-size: 16px;
        line-height: 25px; } }
    .rld li:first-child {
      padding-left: 0 !important;
      margin-left: 0 !important; }
    .rld li:first-child:before {
      content: none; }
    .rld li:before {
      content: "\f111";
      position: absolute;
      left: 0;
      top: 0;
      font-family: 'fontawesome';
      font-size: 12px; }
    @media (min-width: 576px) and (max-width: 767px) {
      .rld li {
        font-size: 22px;
        line-height: 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .rld li {
        font-size: 40px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .rld li {
        font-size: 56px; } }

.rld-search {
  margin-top: 15px; }
  .rld-search form {
    width: 1%;
    -webkit-flex: 1 1 auto;
    /* Safari 6.1+ */
    -ms-flex: 1 1 auto;
    /* IE 10 */
    flex: 1 1 auto;
    position: relative; }
  .rld-search input {
    background: transparent;
    color: #fff;
    border-radius: 0;
    font-family: 'AVANTGA2'; }
    .rld-search input:focus {
      border: none;
      border-right: 2px solid #dad2d2 !important;
      box-shadow: none; }
  .rld-search .input-group-append {
    background: #fff; }
    .rld-search .input-group-append button {
      background: #fff;
      padding-left: 31px;
      border-radius: 0;
      box-shadow: none !important;
      color: #000;
      padding-right: 30px;
      font-size: 16px;
      border: 1px solid #fff;
      font-family: 'AVANTGA2';
      text-transform: capitalize; }
      .rld-search .input-group-append button:hover, .rld-search .input-group-append button:focus {
        background: #000;
        color: #fff;
        border-color: #000; }
      @media (max-width: 575px) {
        .rld-search .input-group-append button {
          font-size: 14px;
          padding-left: 20px;
          padding-right: 20px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .rld-search .input-group-append button {
          font-size: 13px; } }

/*home banner css end*/
/*10st must read section start*/
.mustRead-block {
  padding: 50px 0; }
  @media (max-width: 575px) {
    .mustRead-block {
      padding: 25px 0; } }
  .mustRead-block .owl-stage {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex; }
    .mustRead-block .owl-stage .item {
      height: 100%; }

.product-heading {
  padding: 10px 100px 30px 0; }
  @media (max-width: 575px) {
    .product-heading {
      padding: 10px 0px 35px 0; } }
  .product-heading h3 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: inline-block; }
    @media (max-width: 575px) {
      .product-heading h3 {
        font-size: 13px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .product-heading h3 {
        font-size: 22px; } }
  .product-heading a {
    padding: 0 25px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #b5b4b4;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 30px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    .product-heading a:hover, .product-heading a:focus {
      color: #fff;
      border-color: #9c2bc2;
      background-color: #7728e5;
      /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
      /* Standard syntax; must be last */ }

.tg-featureimg {
  margin: 0;
  width: 100%;
  /*float: left;*/
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out; }

.tg-featureimg {
  /*float: left;*/
  position: relative;
  width: 100%;
  overflow: hidden; }
  .tg-featureimg img {
    width: 100%; }

.green-flat-block {
  background-image: url("../images/green-flat-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }
  @media (max-width: 575px) {
    .green-flat-block {
      padding: 30px 0;
      margin-top: 25px; } }
  .green-flat-block a {
    font-size: 28px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #333;
    display: block; }
    @media (max-width: 575px) {
      .green-flat-block a {
        font-size: 20px;
        line-height: 25px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .green-flat-block a {
        font-size: 20px;
        line-height: 22px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .green-flat-block a {
        font-size: 24px; } }
  .green-flat-block h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    @media (min-width: 576px) and (max-width: 767px) {
      .green-flat-block h3 {
        font-size: 17px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .green-flat-block h3 {
        font-size: 19px; } }
  .green-flat-block h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0; }

.greenFlat-img {
  margin: -30px 0 -28px 0; }
  @media (max-width: 575px) {
    .greenFlat-img {
      margin: 0;
      text-align: center; } }

.red-block {
  background: #d13434;
  color: #fff;
  display: inline-block;
  font-size: 23px;
  line-height: 25px;
  padding: 7px 20px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
  @media (max-width: 575px) {
    .red-block {
      font-size: 16px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .red-block {
      padding: 5px 20px;
      font-size: 15px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .red-block {
      font-size: 20px; } }

/*about green flat css end*/
/*test new spice block css start*/
.newSpice-block {
  padding: 85px 0 35px; }
  @media (max-width: 575px) {
    .newSpice-block .new-prod {
      margin-bottom: 20px; } }

.newSpice-left h2 {
  font-size: 66px;
  line-height: 70px;
  font-family: 'AVANTGA2';
  text-transform: uppercase; }
  @media (max-width: 575px) {
    .newSpice-left h2 {
      font-size: 38px;
      line-height: 40px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .newSpice-left h2 {
      font-size: 42px;
      line-height: 42px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .newSpice-left h2 {
      font-size: 45px;
      line-height: 50px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .newSpice-left h2 {
      font-size: 61px;
      line-height: 65px; } }

.newSpice-left p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'AVANTGA2';
  text-transform: uppercase;
  color: #515151; }
  @media (min-width: 768px) and (max-width: 991px) {
    .newSpice-left p {
      font-size: 14px;
      line-height: 18px; } }

.arrival-book li {
  display: inline-block;
  margin-right: 30px; }
  .arrival-book li:last-child {
    margin-right: 0; }

/*test new spice block css end*/
/*category filter start*/
.cat_product {
  margin-bottom: 25px; }

.categoryFilter {
  padding: 60px 0;
  /* .book-content a {
     font-size: 21px;
       @media(min-width: 768px) and (max-width: 991px){
         font-size: 19px;
       }
       @media(min-width: 992px) and (max-width: 1199px){
         font-size: 18px;
       }
   }*/ }
  @media (max-width: 767px) {
    .categoryFilter {
      padding: 25px 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .categoryFilter {
      padding: 40px 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .categoryFilter {
      padding: 40px 0; } }

.categoryFilter ul {
  margin-bottom: 30px; }
  .categoryFilter ul li button {
    background: transparent;
    padding: 8px 30px;
    color: #515151;
    font-family: 'AVANTGA2';
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 7px;
    margin-bottom: 15px;
    cursor: pointer; }
    .categoryFilter ul li button:last-child {
      margin-right: 0; }
    .categoryFilter ul li button:hover, .categoryFilter ul li button:focus, .categoryFilter ul li button.active {
      background: #515151;
      color: #fff; }
    @media (max-width: 575px) {
      .categoryFilter ul li button {
        padding: 8px 26px;
        font-size: 13px; } }

/*category filter end*/
/*book destails css start*/
.book_details {
  background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* Standard syntax; must be last */
  padding-bottom: 35px; }
  .book_details .home-logo {
    margin-bottom: 40px; }
  .book_details .loginLogo {
    margin-bottom: 0; }
  .book_details .input-group-append button:hover, .book_details .input-group-append button:focus, .book_details .input-group-append button:active {
    background: #e2e2e2;
    color: #000;
    border-color: #e2e2e2; }
  .book_details .rld {
    background: transparent;
    padding: 0; }
    .book_details .rld .rld-search {
      margin-top: 0; }

.book-img {
  border: 1px solid #dedede;
  padding: 40px 30px;
  background: transparent;
  height: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .book-img {
      padding: 30px 10px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .book-img {
      padding: 20px 50px; } }
  @media (min-width: 481px) and (max-width: 575px) {
    .book-img {
      padding: 20px 150px; } }
  @media (max-width: 575px) {
    .book-img {
      display: block;
      border: none; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .book-img {
      padding: 25px 10px; } }
  @media (max-width: 767px) {
    .book-img:hover .tg-featureimg {
      padding: 9px 13px 9px 0; } }
  .book-img img {
    width: 100%; }

.details-content {
  /* h6 {
     font-size: 14px;
     font-family: "Open Sans", sans-serif;
     font-weight: 600;
     margin-bottom: 0;
     margin-top: 5px;
     text-transform: capitalize;
   }*/ }
  .details-content .description-content {
    position: relative; }
    .details-content .description-content .read-more {
      position: absolute;
      bottom: -30px;
      left: 14px;
      text-decoration: underline; }
      .details-content .description-content .read-more:hover, .details-content .description-content .read-more:focus {
        text-decoration: none;
        color: #9c2bc2; }
  .details-content p {
    font-size: 14px; }
  .details-content a {
    color: #9c2bc2;
    font-size: 14px; }
    .details-content a:hover, .details-content a:focus {
      color: #000; }
  .details-content h2 {
    font-size: 22px;
    /* padding-top: 0px; */
    line-height: 22px;
    margin-bottom: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    @media (max-width: 575px) {
      .details-content h2 {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (min-width: 575px) and (max-width: 767px) {
      .details-content h2 {
        font-size: 22px;
        margin-bottom: 15px; } }
  .details-content h3 {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 15px; }
    @media (max-width: 575px) {
      .details-content h3 {
        font-size: 14px;
        margin-bottom: 6px; } }
    @media (min-width: 575px) and (max-width: 767px) {
      .details-content h3 {
        font-size: 14px;
        margin-bottom: 10px; } }
  .details-content h4 {
    font-size: 17px;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0; }
    @media (max-width: 575px) {
      .details-content h4 {
        font-size: 14px; } }
    @media (min-width: 575px) and (max-width: 767px) {
      .details-content h4 {
        font-size: 13px; } }

.details-panel {
  box-shadow: 0px 0px 37px rgba(183, 197, 224, 0.7); }
  .details-panel .category-block {
    padding: 0 7px 10px; }
  .details-panel > h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #5e2c7f;
    font-weight: 600;
    padding: 8px 20px;
    border-bottom: 1px solid #5e2c7f;
    line-height: 30px;
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .details-panel {
      position: -webkit-sticky;
      /* Safari */
      position: sticky;
      top: 60px; } }
  .details-panel .detail-accordion {
    font-size: 15px;
    line-height: 20px;
    padding: 13px 16px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    border: none;
    border-top: 1px solid #ddd;
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
    /*&.active,&:hover{
      background: #4c4c4c;
      color: $white;
    }*/
    /*&:hover span:after{color: $white;}*/ }
    .details-panel .detail-accordion a {
      color: #4c4c4c;
      text-decoration: none;
      text-transform: uppercase; }
      .details-panel .detail-accordion a:hover, .details-panel .detail-accordion a:focus {
        color: #7728e5; }
    @media (min-width: 575px) and (max-width: 767px) {
      .details-panel .detail-accordion {
        font-size: 13px;
        padding: 12px 20px; } }
    .details-panel .detail-accordion:first-of-type {
      border: 0; }
    .details-panel .detail-accordion span {
      position: absolute;
      right: 5px;
      top: 15px; }
    .details-panel .detail-accordion span:after {
      content: '\002B';
      color: #777;
      font-weight: bold; }
    .details-panel .detail-accordion.active a, .details-panel .detail-accordion:hover a {
      background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* Standard syntax; must be last */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .details-panel .detail-accordion.active span:after {
      content: "\2212";
      /* color: $white;*/ }

.details-panel .panel {
  padding: 3px 18px 10px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.detail-subcategory {
  padding-left: 20px; }
  @media (max-width: 575px) {
    .detail-subcategory {
      text-align: left; } }
  .detail-subcategory a {
    color: #4c4c4c;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block; }
    .detail-subcategory a.active, .detail-subcategory a:hover {
      background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Firefox (3.6 to 15) */
      background-image: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* Standard syntax; must be last */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .detail-subcategory a:before {
      content: "\f111";
      position: absolute;
      left: -14px;
      line-height: normal;
      top: 8px;
      font-family: 'fontawesome';
      font-size: 5px;
      -webkit-text-fill-color: #000; }

.detail-block {
  padding: 20px 0 30px 0; }
  @media (max-width: 767px) {
    .detail-block {
      padding: 20px 0 30px 0; } }

.wishlist-list th, .wishlist-list td {
  padding: 7px;
  border: 1px solid #bfbfbf;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

.wishlist-table, .wishlistavail-table {
  max-height: 250px;
  overflow-y: scroll; }

.wishlist-list th {
  background: #ddd;
  color: #000; }

.wishlist-list tr:nth-child(even) {
  background-color: #f2f2f2; }

.prev_link {
  color: #9c2bc2;
  font-size: 17px;
  font-family: "Open Sans";
  text-decoration: underline; }
  .prev_link:hover, .prev_link:focus {
    color: #7728e5;
    text-decoration: none; }

.noBookText {
  font-size: 17px;
  font-family: "Open Sans"; }

/*book destails css end*/
.all-books-block, .search-books-block {
  padding: 20px 0 30px 0; }
  @media (max-width: 767px) {
    .all-books-block, .search-books-block {
      padding: 30px 0; } }

/*login page css start*/
.loginRight {
  color: #fff;
  font-family: 'Lato';
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .loginRight {
      padding-left: 20%; } }
  .loginRight h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .loginRight h3 {
        font-size: 28px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginRight h3 {
        font-size: 46px; } }
  .loginRight h4 {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .loginRight h4 {
        font-size: 28px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginRight h4 {
        font-size: 30px; } }
  .loginRight h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .loginRight h2 {
        font-size: 32px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginRight h2 {
        font-size: 38px; } }
  .loginRight h5 {
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .loginRight h5 {
        font-size: 33px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .loginRight h5 {
        font-size: 38px; } }
    .loginRight h5 span {
      font-size: 48px;
      font-weight: 900;
      background: #fff;
      color: #3d1f64;
      padding-left: 5px;
      padding-right: 5px; }
      @media (max-width: 767px) {
        .loginRight h5 span {
          font-size: 33px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .loginRight h5 span {
          font-size: 38px; } }

.login-section {
  /*background-image: url(../images/login-bg.jpg), linear-gradient(to right, #5d20df , #7e40e5);*/
  background-image: url(../images/login.jpg), linear-gradient(to right, #5d20df, #7e40e5);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center;
  /*background-size: auto, cover;*/
  background-size: cover;
  padding: 90px 0; }
  @media (max-width: 767px) {
    .login-section {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .login-section {
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For Firefox (3.6 to 15) */
      background: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* For old Opera (11.1 to 12.0) */
      background: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
      /* Standard syntax; must be last */ } }
  @media (min-width: 768px) and (min-height: 768px) {
    .login-section {
      height: 100vh; } }

.login-panel {
  background: #fff;
  padding: 55px 45px; }
  @media (min-width: 576px) and (max-width: 767px) {
    .login-panel {
      padding: 55px 20px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .login-panel {
      padding: 55px 25px; } }
  @media (max-width: 575px) {
    .login-panel {
      padding: 40px 14px; } }
  .login-panel .loginLogo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ddd;
    background: #e2e2e2; }
    @media (max-width: 767px) {
      .login-panel .loginLogo {
        width: auto; } }
    .login-panel .loginLogo .neosoft-logo {
      background: #fff;
      /*border-right: 1px solid #b6b6b7;
      padding-top: 0;
      padding-bottom: 0;*/ }
    .login-panel .loginLogo .appended_logo {
      /*background: transparent;
      padding-top: 0;
      padding-bottom: 0;*/ }

.login-coverBg {
  position: relative;
  width: 89%;
  /*  &::before{
          content:"";
          @include bgimg(100% 100%,no-repeat,center top);
          background-image: url(../images/login-block-bg.png);
          position:absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 20px;
          height: 100%;
        }*/ }
  @media (max-width: 767px) {
    .login-coverBg {
      width: 100%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .login-coverBg {
      width: 99%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .login-coverBg {
      width: 84.5%; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .login-coverBg {
      width: 78%; } }

.login-panel p {
  font-size: 16px;
  line-height: 21px;
  color: #191a1b;
  font-family: 'Lato';
  margin-left: 12px; }
  @media (max-width: 575px) {
    .login-panel p {
      font-size: 13px;
      line-height: 19px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .login-panel p {
      font-size: 15px;
      line-height: 20px; } }
.login-panel h4 {
  font-size: 22px;
  color: #3a3b3e;
  font-family: 'Lato';
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 12px;
  background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 5%, #9c2bc2 20%);
  /* Standard syntax; must be last */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.login-panel .checkbox label {
  display: inline;
  font-family: 'Lato';
  color: #3a3b3e;
  margin: 0 0 0 5px;
  text-transform: capitalize;
  width: auto; }
.login-panel .checkbox input {
  vertical-align: middle;
  /* padding-right: 14px !important; */
  cursor: pointer;
  font-size: 15px; }

.login-block .form-group {
  margin-bottom: 15px; }
  .login-block .form-group input {
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: none !important;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lato';
    border-bottom: 1px solid #d0d1d3;
    height: auto; }
    .login-block .form-group input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: 'Lato'; }
    .login-block .form-group input ::-moz-placeholder {
      /* Firefox 19+ */
      font-family: 'Lato'; }
    .login-block .form-group input :-ms-input-placeholder {
      /* IE 10+ */
      font-family: 'Lato'; }
    .login-block .form-group input :-moz-placeholder {
      /* Firefox 18- */
      font-family: 'Lato'; }
.login-block .login-emailId, .login-block .login-pass {
  position: relative; }
.login-block .login-emailId:before, .login-block .login-pass:before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 12px;
  top: 18px;
  height: 12px;
  width: 20px; }
.login-block .login-emailId:before {
  background-image: url(../images/envelop-img.png); }
.login-block .login-pass::before {
  background-image: url(../images/key-img.png); }

.home-login .checkbox, .home-login .submit {
  margin-left: 12px; }

.home-login p {
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  color: #333333;
  margin: 10px 0 10px 12px !important; }
  @media (max-width: 575px) {
    .home-login p {
      font-size: 12px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .home-login p {
      font-size: 13px; } }

.submit {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-family: 'lato';
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 7px;
  padding: 6px 28px;
  background-color: #7728e5;
  /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* Standard syntax; must be last */
  box-shadow: none !important; }
  .submit:hover, .submit:focus {
    color: #fff;
    background-color: #7728e5;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* Standard syntax; must be last */ }

/*login page css end*/
.wishlist-text {
  font-size: 21px;
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 20px; }
  .wishlist-text .prev_link {
    font-weight: 400;
    float: right; }

.mywishlist-table td a:not(.btn-secondary) {
  text-align: left !important;
  color: #222;
  text-decoration: none;
  background-image: -webkit-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #7728e5 30%, #9c2bc2 70%);
  /* Standard syntax; must be last */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .mywishlist-table td a:not(.btn-secondary):hover:not(.btn-secondary), .mywishlist-table td a:not(.btn-secondary):focus:not(.btn-secondary) {
    background-image: -webkit-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #9c2bc2 30%, #7728e5 70%);
    /* Standard syntax; must be last */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media (max-width: 991px) {
    .mywishlist-table td a:not(.btn-secondary) {
      text-align: center !important; } }
  .mywishlist-table td a:not(.btn-secondary).remove {
    color: #fff; }

.mywishlist-table td, .mywishlist-table th, .wishlistavail-table td, .wishlistavail-table th {
  vertical-align: middle !important;
  font-size: 14px; }

.mywishlist-table th, .wishlistavail-table th {
  background: #ddd;
  border-bottom: none !important;
  color: #000;
  border: 1px solid #bfbfbf; }

.mywishlist-table tr:nth-child(even), .wishlistavail-table tr:nth-child(even) {
  background-color: #f2f2f2; }

@media (max-width: 767px) {
  .wishlistavail-table {
    border: none;
    display: block; }
    .wishlistavail-table img {
      height: 75px;
      width: 60px;
      max-width: 100%; }
    .wishlistavail-table thead, .wishlistavail-table tbody, .wishlistavail-table th, .wishlistavail-table td, .wishlistavail-table tr {
      display: block; }
    .wishlistavail-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .wishlistavail-table tr {
      margin-bottom: 15px; }
    .wishlistavail-table td {
      min-height: 36px;
      border: none;
      position: relative;
      padding-left: 50% !important;
      font-weight: 600;
      color: #898989;
      word-break: break-word;
      border: 1px solid #ddd; }
      .wishlistavail-table td:nth-of-type(1)::before {
        content: "Sr.No."; }
      .wishlistavail-table td:nth-of-type(2)::before {
        content: "Location"; }
      .wishlistavail-table td:nth-of-type(3)::before {
        content: "Available Quantity"; }
      .wishlistavail-table td:nth-of-type(4)::before {
        content: "Purchased Quantity"; }
      .wishlistavail-table td:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        font-weight: 400; }
      .wishlistavail-table td::after {
        content: ":";
        left: 45%;
        position: absolute;
        top: 8px;
        color: #898989; } }
@media (max-width: 991px) {
  .mywishlist-table {
    border: none;
    display: block; }
    .mywishlist-table img {
      height: 75px;
      width: 60px;
      max-width: 100%; }
    .mywishlist-table thead, .mywishlist-table tbody, .mywishlist-table th, .mywishlist-table td, .mywishlist-table tr {
      display: block; }
    .mywishlist-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .mywishlist-table tr {
      margin-bottom: 15px; }
    .mywishlist-table td {
      min-height: 36px;
      border: none;
      position: relative;
      padding-left: 50% !important;
      font-weight: 600;
      color: #898989;
      word-break: break-word;
      border: 1px solid #ddd; }
      .mywishlist-table td:nth-of-type(1)::before {
        content: "Book"; }
      .mywishlist-table td:nth-of-type(2)::before {
        content: "Author"; }
      .mywishlist-table td:nth-of-type(3)::before {
        content: "Wished On"; }
      .mywishlist-table td:nth-of-type(4)::before {
        content: "Action"; }
      .mywishlist-table td:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        font-weight: 400; }
      .mywishlist-table td::after {
        content: ":";
        left: 45%;
        position: absolute;
        top: 8px;
        color: #898989; } }
@media (max-width: 767px) {
  .wishlistBy-table td, .wishlistBy-table th
  .mywishlist-table td, .mywishlist-table th, .wishlistBy-table td, .wishlistBy-table th, .issueTo-table td, .issueTo-table th {
    border: 1px solid #dee2e6;
    font-size: 12px;
    line-height: 17px; } }
/*confirm model css start*/
#confirm-add .modal-content {
  border: none; }
  #confirm-add .modal-content .modal-header {
    background: #e2e2e2;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px; }
    #confirm-add .modal-content .modal-header .modal-title {
      font-size: 15px;
      font-weight: 600; }
    #confirm-add .modal-content .modal-header .close {
      color: #000;
      opacity: 1; }
  #confirm-add .modal-content .modal-body {
    font-size: 14px; }
  #confirm-add .modal-content .modal-footer {
    padding: 12px; }
    #confirm-add .modal-content .modal-footer .btn-secondary {
      border: none;
      padding: 5px 35px;
      border-radius: 7px;
      font-size: 15px; }
    #confirm-add .modal-content .modal-footer .btn-danger {
      border: none;
      box-shadow: none !important;
      padding: 5px 30px;
      border-radius: 7px;
      font-size: 15px; }

/* error handling css*/
.help-block {
  color: red;
  font-size: 12px;
  font-weight: 100;
  padding-left: 12px; }

@media (min-width: 576px) and (max-width: 767px) {
  .create_wishlist {
    padding: 10px 15px; } }

@media (max-width: 767px) {
  /*wishlisted by table css*/
  .wishlistBy-table {
    border: none;
    display: block; }
    .wishlistBy-table thead, .wishlistBy-table tbody, .wishlistBy-table th, .wishlistBy-table td, .wishlistBy-table tr {
      display: block; }
    .wishlistBy-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .wishlistBy-table tr {
      margin-bottom: 15px; }
    .wishlistBy-table td {
      min-height: 36px;
      border: none;
      position: relative;
      padding-left: 50% !important;
      font-weight: 600;
      color: #898989;
      word-break: break-word;
      border: 1px solid #ddd; }
      .wishlistBy-table td:nth-of-type(1)::before {
        content: "Sr No."; }
      .wishlistBy-table td:nth-of-type(2)::before {
        content: "Employee Name"; }
      .wishlistBy-table td:nth-of-type(3)::before {
        content: "Requested On"; }
      .wishlistBy-table td:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        font-weight: 400; }
      .wishlistBy-table td::after {
        content: ":";
        left: 45%;
        position: absolute;
        top: 8px;
        color: #898989; }

  /*issue to table css*/
  .issueTo-table {
    border: none;
    display: block; }
    .issueTo-table thead, .issueTo-table tbody, .issueTo-table th, .issueTo-table td, .issueTo-table tr {
      display: block; }
    .issueTo-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .issueTo-table tr {
      margin-bottom: 15px; }
    .issueTo-table td {
      min-height: 36px;
      border: none;
      position: relative;
      padding-left: 50% !important;
      font-weight: 600;
      color: #898989;
      word-break: break-word;
      border: 1px solid #ddd; }
      .issueTo-table td:nth-of-type(1)::before {
        content: "Sr No."; }
      .issueTo-table td:nth-of-type(2)::before {
        content: "Employee Name"; }
      .issueTo-table td:nth-of-type(3)::before {
        content: "Issued On"; }
      .issueTo-table td:nth-of-type(4)::before {
        content: "Returned  No."; }
      .issueTo-table td:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        font-weight: 400; }
      .issueTo-table td::after {
        content: ":";
        left: 45%;
        position: absolute;
        top: 8px;
        color: #898989; } }
/*search css start*/
.test {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }
  .test ul {
    border-top: 1px solid #ddd !important; }
    .test ul li {
      display: block;
      text-transform: capitalize;
      /* padding: 10px !important; */
      /* font-size: 20px; */
      line-height: normal;
      padding: 0 0 !important;
      margin: 0 !important;
      border-bottom: 1px solid #ddd !important; }
      .test ul li div {
        font-size: 15px;
        padding: 8px; }
      .test ul li > div {
        font-size: 15px;
        padding: 5px; }
      .test ul li:last-child {
        border: none; }
      .test ul li:before {
        content: none; }

@media (min-width: 768px) {
  .sticky-breadcum {
    background: #fff;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 999; } }
.search-loader {
  height: auto;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px; }

#Blissphoto [class*=col-] {
  padding-left: 2px;
  padding-right: 45; }

#Blissphoto .green {
  background-color: #6fb936; }

#Blissphoto .thumb {
  margin-bottom: 2px;
  /*margin-right: -16px;*/ }

#Blissphoto .page-top {
  margin-top: 85px; }

/*#Blissphoto img.zoom {
    width: 100%;
    height: 200px;
    border-radius:0;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
} */
#Blissphoto img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 0;
  object-fit: cover;
  filter: brightness(65%); }

#Blissphoto .thumb .zoom:hover {
  filter: brightness(100%); }

#Blissphoto .thumb:hover.Mone {
  display: block;
  position: absolute;
  z-index: 99999; }

/*.zoom:hover:after{content: 'hi'; height:100%; width:100%; border: 4px solid red; position: absolute; right: 20%; left:45%; top:45%; }*/
/*#Blissphoto .transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  
}*/
#Blissphoto .transition {
  /*-webkit-transform: scale(1.05); 
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);*/ }

#Blissphoto .modal-header {
  border-bottom: none; }

#Blissphoto .modal-title {
  color: #000; }

#Blissphoto .modal-footer {
  display: none; }

/*-----Rating1 Start---*/
.rating {
  width: 250px;
  /*margin: 0 auto 1em;*/
  font-size: 55px;
  overflow: hidden; }

.rating input {
  float: right;
  opacity: 0;
  position: absolute; }

.rating a,
.rating label {
  float: right;
  color: #cacaca;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s; }

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: #FFCD05;
  cursor: pointer; }

.rating2 {
  direction: rtl; }

.rating2 a {
  float: none;
  margin-left: 5px; }

/*-----Rating1 End---*/
/*-----Rating2 Start---*/
.star-rating {
  border: solid0px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 .2em;
  text-align: center;
  width: 260px; }

.star-rating input {
  display: none; }

.star-rating label {
  color: #ccc;
  cursor: pointer;
  font-size: 55px; }

.star-rating :checked ~ label {
  color: #FFCD05; }

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #FFCD05; }

/*-----Rating2 End---*/

/*# sourceMappingURL=spark-main.css.map */
