@mixin transition($type: all, $time: 0.2s, $effect: ease-in-out) {
    -webkit-transition: $type $time $effect;
    -moz-transition:    $type $time $effect;
    -ms-transition:     $type $time $effect;
    -o-transition:      $type $time $effect;
    transition:         $type $time $effect;
}
@mixin smile_img($right,$bottom,$height,$width){
	content: "";
        position: absolute;
        right: $right;
        bottom: $bottom;
        background-image: url('../images/smile_curv_icon.png');
        background-size: 100% 100%;
        background-position: bottom center;
        height: $height;
        width: $width;
}
@mixin bgimg($size,$repeat,$position){
    background-repeat:$repeat;
    background-size:$size;
    background-position:$position;
}