/*toolbar css start*/
.toolbar-left {
    
    p{font-size: 16px; display: inline;color: $white;
    
    @media (max-width: 767px) {font-size:12px;}
    
    }
    
    
     span{font-size: 15px; display:inline-block; color: $white;
    
        @media (max-width: 767px) {font-size:12px;}
    
        }
    
    .User-1{
        
         @media (max-width: 767px) {  width: 25px;    float: left;}
    
    }
    .User-2{  
        @media (max-width: 767px) {font-size:12px;width: 80%;      float: left;}
    }
    
    a {
    color: $white;
    margin-right: 5px;
      &:hover,&:focus{
        color:#cabad0;
      }
}
    
    
}
.toolbar {
    background: #000;
    padding: 10px 0;
      i {
        color: #fff;
        font-size: 20px;
         @media (max-width: 767px) {font-size:18px;}
      }
}
.prodCart span {
    position: absolute;
    background: #ee435e;
    border-radius: 50%;
    font-size: 12px;
    color: $white;
    text-align: center;
    height: 20px;
    width: 20px;
    display: inline-block;
    left: 7px;
    top: -12px;
    line-height: 20px;
}
#navbarDropdown {
    color: $white;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
}

.headerRight {
    position: relative;
    margin-bottom: 0;
}
.headerRight .dropdown-menu {
    left: 0 !important;
    right: 0;
    padding: 0;
    background: #fff;
    margin: 0;
    border: none;
    text-align: left;
    border-radius: 0;
    top:11px !important;
    min-width: 220px;
    border-radius: 10px;
    transform: translate3d(-113px, 19px, 0px) !important;
    
    @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait) {
        left:auto !important; transform:translate3d(13px, 21px, 0px) !important;
    } 
    
     @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape) {
        left:auto !important; transform: translate3d(13px, 18px, 0px) !important;
    } 
    
    @media (max-width: 767px) { left:auto !important; transform: translate3d(15px, 21px, 0px) !important;}
    
    
      .dropdown-item {
        color: #000;
        font-family: "Open Sans", sans-serif;
        padding: .75rem 1.5rem;
        font-size: 15px;
        border-bottom: 1px solid #ddd;
        position: relative;
              border-radius: 0;
          
          &:hover {
          /*background-color: #fff;*/ /* fallback color if gradients are not supported */
            color: #10113A;
            &:first-child{border-radius:10px 10px 0px 0px;}   
            &:last-child{border-radius:0 0 10px 10px;}
        
        } 
          
          &:focus {
          /* fallback color if gradients are not supported */
           color: #000;
           background-color: #fff;  
            &:first-child{border-radius:10px 10px 0px 0px;}   
            &:last-child{border-radius:0 0 10px 10px;}
        
          }
          
          &:active{background-color: #fff;}
          &:disabled{background-color: #000;}
          
        
      }
      & a:last-of-type {
          border: none;
      }
}
.headerRight li {
    display: inline-block;
    vertical-align: middle;
     /* img {
        width: 18px;
      }*/
}
.headerUser {
  margin-left: 10px;
   /* img{margin-top: -4px;}*/
    p{
      display: inline-block;
      margin-bottom: 0;
      margin-right: 8px;
      vertical-align: bottom;
    }
    .dropdown {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0;
      line-height: 16px;
        #navbarDropdown {
          color: $white;
          text-decoration: none;
          font-size: $small_font;
          text-transform: capitalize;
          font-family: $opansans;
            @media(max-width: 575px){
              font-size: 14px;
            }
            i {
                font-size: 11px;
                margin-left: 4px;
                &:after{
                  display:none;
                }
            }
            span{
              @media(max-width: 575px){
                display:none; 
            }
            }
      }
      .dropdown-toggle::after {
        border: none;
          display: none!important;
          background: yellow;
      }
        .dropdown-menu {margin-top:4px;}
    }
    
    .dropdown.show::before {
    content: "\f0d8";
    right: -4px;
    top: auto;
    font-family: 'fontawesome';
    color: #fff;
    font-size: 28px;
    position: absolute;
    bottom: -19px;
}
    @media (max-width: 767px){ margin-left: 5px;}
}



.notification_dropdown { margin-left:10px;
    .dropdown-toggle::after {
        display: none!important;
    }
     @media (max-width: 767px){ margin-left: 5px;}
}


/** notification  Css **/
.notification_dropdown.show::before {
    content: "\f0d8";
    right: -2px;
    top: auto;
    font-family: 'fontawesome';
    color: #fff;
    font-size: 28px;
    position: absolute;
    bottom: -30px;
}
.notification_dropdown .dropdown-menu{
    min-width: 380px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 7px 12px 0px rgba(132, 146, 166, 0.2);
    padding-bottom: 0;
    left: auto;
    right: 0;
    margin-top: 4px;
    padding-bottom: 0;
    background: #fff;
    padding-top: 0;
    overflow: hidden;
    transform: translate3d(-344px, 23px, 0px) !important;
    
    
    @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait) {
        left:auto !important; transform:translate3d(13px, 21px, 0px) !important;
    } 
    
     @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape) {
        left:auto !important; transform: translate3d(13px, 18px, 0px) !important;
    } 
    
    @media (max-width: 767px) { left:auto !important; transform: translate3d(15px, 21px, 0px) !important;}

}
.notification_dropdown .dropdown-menu h3{
    font-size: 14px;
    color: #222222;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    /*float: left;*/
    display: block;
    background: #fff;
    padding: 12px 20px;
}
.notification_dropdown .dropdown-menu h3 span{
    display: inline-block;
}
.notification_dropdown .dropdown-menu h4{
    font-size: 14px;
    color: #444444;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
    display: inline-block;
}
.notification_dropdown .dropdown-menu h4 span{
    display: inline-block;
    font-weight: normal;
}
.notification_dropdown .dropdown-menu .img-wrap{
    display: inline-block;
}
.notification_dropdown .dropdown-menu .congrts-text{
    float: right;
    position: relative;
    z-index: 1;
}
.notification_dropdown .dropdown-menu .dropdown-item{
    padding: .75rem 1.5rem;
    background: #fff;
    white-space: normal;
}
.notification_dropdown .dropdown-menu .dropdown-item:hover{
    background: #fff;
}
/*notification css end*/


.submit45 {
    color:$white;
    font-size:14px;
    display: inline-block;
    font-family: 'lato';
    font-weight: 400;
    border-radius: 23px;
    padding: 2px 20px;
    border: 0px;
     background-color: #7728e5; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* Standard syntax; must be last */
    box-shadow: none !important;
   
    @media (max-width: 767px) {padding: 2px 10px; font-size: 12px;}
    &:hover,&:focus{
      
      color:$white;
      background-color: #7728e5; /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* Standard syntax; must be last */
    }
}