
$opansans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$primary_color:#ffd73c;
$secondary_color:#75bd57;
$black:#000;
$white:#fff;
$gray:#878787;


$small_font:16px;
$mediam-font:20px;
$large_font:30px;
$extra_large_font:48px;

