@import "_variables";
@import "_mixins";
@import "_top-bar";
@import "_footer";
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
@font-face {
    font-family: 'AVANTGA2';
    src: url('../fonts/AVANTGA2.eot');
    src: url('../fonts/AVANTGA2.eot') format('embedded-opentype'),
         url('../fonts/AVANTGA2.woff2') format('woff2'),
         url('../fonts/AVANTGA2.woff') format('woff'),
         url('../fonts/AVANTGA2.ttf') format('truetype'),
         url('../fonts/AVANTGA2.svg#AVANTGA2') format('svg');
}
@font-face {
    font-family: 'Aller_Lt';
    src: url('../fonts/Aller_Lt.eot');
    src: url('../fonts/Aller_Lt.eot') format('embedded-opentype'),
         url('../fonts/Aller_Lt.woff2') format('woff2'),
         url('../fonts/Aller_Lt.woff') format('woff'),
         url('../fonts/Aller_Lt.ttf') format('truetype'),
         url('../fonts/Aller_Lt.svg#Aller_Lt') format('svg');
}

@font-face {
    font-family: 'adira_display_ssiregular';
    src: url('../fonts/anja_eliane_nornal-webfont.woff2') format('woff2'),
         url('../fonts/anja_eliane_nornal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proximanovabold';
    src: url('../fonts/proximanovabold.eot');
    src: url('../fonts/proximanovabold.eot') format('embedded-opentype'),
    url('../fonts/proximanovabold.woff2') format('woff2'),
    url('../fonts/proximanovabold.woff') format('woff'),
    url('../fonts/proximanovabold.ttf') format('truetype'),
    url('../fonts/proximanovabold.svg#proximanovabold') format('svg');
}
@font-face {
    font-family: 'proximanovaextrabold';
    src: url('../fonts/proximanovaextrabold.eot');
    src: url('../fonts/proximanovaextrabold.eot') format('embedded-opentype'),
    url('../fonts/proximanovaextrabold.woff2') format('woff2'),
    url('../fonts/proximanovaextrabold.woff') format('woff'),
    url('../fonts/proximanovaextrabold.ttf') format('truetype'),
    url('../fonts/proximanovaextrabold.svg#proximanovaextrabold') format('svg');
}
@font-face {
    font-family: 'proximanovaregular';
    src: url('../fonts/proximanovaregular.eot');
    src: url('../fonts/proximanovaregular.eot') format('embedded-opentype'),
    url('../fonts/proximanovaregular.woff2') format('woff2'),
    url('../fonts/proximanovaregular.woff') format('woff'),
    url('../fonts/proximanovaregular.ttf') format('truetype'),
    url('../fonts/proximanovaregular.svg#proximanovaregular') format('svg');
}
@font-face {
    font-family: 'FontsFreeNetProximaNovaThin';
    src: url('../fonts/FontsFreeNetProximaNovaThin.eot');
    src: url('../fonts/FontsFreeNetProximaNovaThin.eot') format('embedded-opentype'),
    url('../fonts/FontsFreeNetProximaNovaThin.woff2') format('woff2'),
    url('../fonts/FontsFreeNetProximaNovaThin.woff') format('woff'),
    url('../fonts/FontsFreeNetProximaNovaThin.ttf') format('truetype'),
    url('../fonts/FontsFreeNetProximaNovaThin.svg#FontsFreeNetProximaNovaThin') format('svg');
}


:focus {
    outline: -webkit-focus-ring-color auto 0px;
     box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
  
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);

}

.mt-0 {margin-top: 0px;}
.clear {clear:both;}
.container{
	max-width: 1170px !important;
//	width: auto !important;
	padding:0 15px;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}
.primary-btn{
    background: $primary_color;
    color: #041b17;
    font-size: $small_font - 2;
    line-height: 20px;
    padding: 12px 25px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
}
.btn-secondary{
    background-color: #7728e5; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* Standard syntax; must be last */
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
      &:hover,&:focus{
        box-shadow:none !important;
        color:$white;
        background-color: #7728e5; /* fallback color if gradients are not supported */
        background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image:    -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For Firefox (3.6 to 15) */
        background-image:      -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For old Opera (11.1 to 12.0) */ 
        background-image:         linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* Standard syntax; must be last */
      }
}
a.primary-btn:hover,a.primary-btn:focus,button.primary-btn:hover,button.primary-btn:focus{
  background:$secondary_color;
  color: $white !important;
}
html, ul ,p{ margin: 0; padding: 0; }
a,button,a:focus,button:focus{outline: none;}
body {  /*font-family: "Open Sans"; */font-family: 'proximanovaregular'; color: #041b17;margin: 0; padding: 0; font-size: $small_font;word-break: break-word;}
li { list-style: none; }

/*.form-group{
	margin-bottom: 24px;
}*/
label{
	font-size: 12px;
  color: #1f2d3d;
  width: 100%;
  font-family: $opansans;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.df {display: flex;}
.text-gray{
  color: $gray;
}
a { 
//    @include transition(all, 0.2s, linear); 
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
    outline: none;
}
.text-border {
    position: relative;
    padding-bottom: 30px;
      &::before {
      content: "";
      position: absolute;
      height: 8px;
      width: 15%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #7728e5; /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* Standard syntax; must be last */
    }
}
.load-more{
  font-size: $small_font - 2;
  font-family: 'AVANTGA2';
  background: #515151;
  color: $white;
  padding: 10px;
  text-align:center;
  text-decoration: none;
  border-radius: 20px;
    &:hover,&:focus{
      background:$black;
      color: $white;
    }

}
.inner-logo{
  @media(min-width: 768px) and (max-width: 991px){
    max-width: 100%;
    width: 80% !important;
  }
  @media(min-width: 992px){
    max-width: 100%;
    width: 63% !important;
  }
  img{
    @media(min-width: 768px) {
      height: 40px !important;
    }
  }
  
}




.loginLogo {
    display: inline-block;
    margin-bottom: 20px;
    // width: 100%;

    @media(min-width: 768px) and (max-width: 991px) {
        width: auto;
    }

    @media(max-width: 575px) {
        width: auto;
    }

    // @media(min-width: 576px) and (max-width: 767px) {
    //     width: auto;
    //     text-align: center;
    // }

    .neosoft-logo {
        background: #FFF;
        /*padding: 12px 10px;*/
        padding: 12px 22px;
        float: left;

        img {
            width: 160px;
            
            @media (max-width: 576px) {
                width: 129px;
            }
        }
        @media (max-width: 767px) {padding: 12px 10px;}
        @media(min-width: 768px) and (max-width: 991px) {padding: 12px 14px;}
        
        @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait) {padding: 12px 7px;}
    }

    .spark_logo {
        background: #000;
        /*padding: 9px 37px;*/
        padding: 9px 30px;
        float: left;

        img {
            /*width: 134px;*/
            width: 145px;

            @media (max-width: 576px) {
                width: 110px;
            }

        }
        @media (max-width: 767px) {padding: 11px 15px;}
        @media(min-width: 768px) and (max-width: 991px) {padding: 9px 16px;}
        
        
    }

}



.breadcrumb {
    padding: 0;
    margin-bottom: 10px;
    background-color: transparent;
      a {
          color: #9c2bc2;
            &:hover {
                color: #8e8e8e;
            }
      }
      .breadcrumb-item {
        font-size: 13px;
        font-family: "Open Sans";
          &.active {
              color: #000;
          }
      }
}






/*toolbar css end*/

ul.event-list { float: right; display: flex; flex-wrap: wrap; justify-content: center;
    @media(min-width: 320px) and (max-width: 767px){
                float: left; justify-content: normal;
            }
    li {font-size: 18px; margin-right: 12px; background: #571bc4; border-radius: 35px; color: #fff; /*padding: 10px 20px;*/ padding: 10px 20px 6px; display: inline-flex; text-transform: uppercase;  margin-bottom:12px;
        &:hover {background: #00c3ff;}
        a {color: #fff;
                &:hover {color: #fff;}
            }
        &:last-child {margin-right: 0px;}
        
         @media(max-width: 1200px){
            font-size: 16px;
        }
        
        @media(max-width: 991px){
            font-size: 14px;
        }
        @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait){
            padding: 10px 14px;    margin-right: 8px; font-size: 13px;
        }
        @media(max-width: 767px){
            font-size: 15px;
        }
        
       
    }
    li.active {background: #00c3ff;
        a, a:hover {color: #000;}
    }
} 




.event-name {background: #00c3ff; box-shadow: 0px 14px 0px #4b12af; width: 100%; min-height: 375px; border-radius: 30px;
float: right; margin-top: 40px; position: relative; padding: 80px 50px 70px; 
    @media(max-width: 575px){
        padding: 70px 30px;
    }
    
    &:before {position: absolute; width: 35px; height: 70px; background: #fff; border-radius: 15px; border: 10px solid #7435e2; z-index: 9; content: ""; left: 22%; top: -35px;}
   &:after {position: absolute; width: 35px; height: 70px; background: #fff; border-radius: 15px; border: 10px solid #7435e2;z-index: 9; content: ""; left: 70%; top: -35px;}
    span { color: #9d1ec6; font-size: 25px; width: 100%; padding-bottom: 20px; display: flex;}
    h1 {color: #9d1ec6; font-size: 65px; font-weight: bold; width: 100%; display: flex; line-height: 60px; letter-spacing: -3px;
    @media(max-width: 575px){
        font-size: 52px;
    }
    }

}

.home-banner-image {
    @media(max-width: 767px){
       display: none;
    }
    
    img {max-width:100%; }
}

.login-banner-image {
    @media(max-width: 767px){
       display: none;
    }
    img {max-width:100%; }
    
}

.des-box {box-shadow: 0px 0px 40px #e2e2e2; margin-top: 70px; margin-bottom: 90px;}

.description { padding: 50px; background: #fff; 
    @media(min-width: 320px) and (max-width: 767px){
        padding: 25px;}
    h2 {color: #a42dd0; font-size: 35px; margin-bottom: 30px; }
    p {color: #4f4f4f; font-size: 25px; line-height: 32px; margin-bottom: 30px;}
    ul {
        li {color: #797979; font-size: 23px; border-bottom: 1px solid #dadada; padding: 10px 0;
            strong {color: #4f4f4f;}
            &:last-child {border-bottom: none;}
        }
    }
}
.venues { padding: 50px; background: #000; position: relative; min-height: 700px;
    h2 {color: #fff; font-size: 35px; margin-bottom: 30px; position: absolute; z-index: 2;}
    ul {position: absolute; z-index: 2; top: 100px;
        li {color: #fff; font-size: 25px; background: url(../images/location.png) no-repeat 5px 27px; padding: 20px 0 20px 45px; } 
    }
    img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}

.participants {background-image: url(../images/participants-bg.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; padding-bottom: 40px;
    h2 {color: #fff; text-align: center; font-size: 60px; padding: 50px 0 50px 0;
    @media (min-width: 350px) and (max-width: 420px) {
       font-size: 55px;}
    }
}







.filter-button
{font-size: 18px;border: 1px solid #fff;border-radius: 30px;text-align: center;color: #fff;margin-bottom: 30px;background:transparent;min-width: 160px;padding: 12px 0;
     @media(max-width: 575px){
       min-width: 138px;}
}
.filter-button:hover
{border: 1px solid #6e2fe2;text-align: center;color: #ffffff;background-color: #6e2fe2;}
.btn-default:active .filter-button:active
{background-color: #6e2fe2;color: white;
}


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.three-pic-card {width: 100%; height:auto; background: #fff; padding: 50px; border-radius: 20px; border-bottom: 5px solid transparent;
    ul { width: 100%; display: block; position: relative; min-height: 100px;
        li { display: inline-block;
            img {border-radius: 50%; border: 2px solid #fff;width: 77px; height: 77px; top: 0; left: 28%;  position: absolute; z-index: 10;}
            &:first-child { 
             img {border-radius: 50%;border: 2px solid #fff;width: 67px; height: 67px;top: 5px; left: -7%; position: absolute;}
            }
            &:last-child {
             img {border-radius: 50%;border: 2px solid #fff;width: 67px; height: 67px;top: 5px; left: 70%; position: absolute; z-index: 9; }
            }
            
        }
    }
    h3 {color:#000; width: 100%; text-align: center; display: block;}
    span {color: #797979; font-size: 18px;width: 100%; text-align: center; display: block;}
    
    &:hover { border-bottom: 5px solid #6b2ee1; 
            -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out;
    h3 {color: #6b2ee1}
//        li {img {border: 2px solid #a5eaff;}
//            &:first-child, &:last-child {
//                img {border: 2px solid #a5eaff;}
//            } 
//        }
    } 
}



/*home banner css start*/
.home-banner{
  /*@include bgimg(cover,no-repeat,right center);*/
  background-image: url(../images/banner-inner.jpg);
  margin-top: 0px;
    height: 742px;
        background-size: cover;
    background-position: top center;
    
 
    
//    @media(max-width: 575px){
//      padding-bottom: 65px;
//    }
//    @media(min-width: 576px) and (max-width:767px){
//      padding-bottom: 60px;
//    }
//    @media(min-width: 768px) and (max-width:991px){
//      padding-bottom: 100px;
//    }
   /* .loginLogo img{
      @media(max-width: 767px){
        width: 80px;
        height: 30px;
      }
      @media(min-width: 768px) and (max-width: 991px){
        max-width: 100%;
        height: 37px;
        width: 150px;
      }
      @media(min-width: 992px){
        max-width: 100%;
        height: 52px;
        width: 150px;
      }
    }*/
}
.banner-logo {margin-top: 40px; width: 100%; display: flex; flex-wrap: wrap;}
.home-logo {
    margin-bottom: 90px;
      @media(max-width: 575px){
        margin-bottom: 40px;
      }
      @media(min-width: 576px) and (max-width:767px){
        margin-bottom: 60px;
      }
      @media(max-width: 575px){
        img {
          max-width: 100%;
        }
      }
}


.home-banner1{
  /*@include bgimg(cover,no-repeat,right center);*/
  background-image: url(../images/banner-inner.jpg);
  margin-top: 0px;
    height: 742px;
        background-size: cover;
    background-position: top center;
}



.vote-banner{
  @include bgimg(cover,no-repeat,top center);
  background-image: url(../images/vote-banner-bg.jpg);
  margin-top: 0px;
    height: 620px;
@media(max-width: 767px){
      height: 392px;
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
      background:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
      background:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
    }
}

.upcoming-event-banner{
  @include bgimg(cover,no-repeat,top center);
  background-image: url(../images/upcoming-event-bg.jpg);
  margin-top:0px;
    height: 620px;
@media(max-width: 767px){
     min-height: 320px;
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
      background:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
      background:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
    }
}

.vote-now {
    h1 {display: block; /*margin-top: 20px;*/ margin-top: 50px;font-family: 'adira_display_ssiregular'; font-size: 70px; color: #fff; text-transform: uppercase;
        
        
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {font-size: 60px;}
        @media (max-width: 767px) {margin-top: 10px; font-size: 40px;}
    
    }
    span {color: #fff; font-size: 25px; text-transform: uppercase;
        
       
     @media (max-width: 767px) {font-size: 18px;}
        
     @media (max-width: 320px) {font-size: 16px;}
    
    }
}



.vote-now45 {
    h1 {display: block; /*margin-top: 20px;*/ margin-top: 126px;font-family: 'adira_display_ssiregular'; font-size: 70px; color: #fff; text-transform: uppercase;
        
        
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {font-size: 60px; margin-top: 50px;}
        @media (max-width: 767px) {margin-top: 10px; font-size: 40px;}
    
    }
    span {color: #fff; font-size: 25px; text-transform: uppercase;
        
       
     @media (max-width: 767px) {font-size: 18px;}
        
     @media (max-width: 320px) {font-size: 16px;}
    
    }
}
.Vote1{max-width: 60%; line-height: 72px; 
    
    @media (max-width: 1280px) {max-width: 50%;}
    @media (max-width: 767px) {max-width: 100%;}

}

.Vote2{line-height: 72px; }

.participants-list { padding: 20px 0;
    h2 { display: block; color: #9d1ec6; font-size: 45px; text-align: center; font-weight: 600;}
    p { display: block; color: #585858; font-size: 20px; text-align: center; margin-bottom: 30px;}
    
    .filter-button{font-size: 18px;border: 1px solid #00c3ff;border-radius: 30px;text-align: center;color: #00c3ff;margin-bottom: 30px;background:transparent;min-width: 160px;padding: 12px 0;
        &:focus {box-shadow: none;}
        &:hover {
            a {color: #fff;}
        }
     @media(max-width: 575px){
       min-width: 138px;}
}
.filter-button{&:hover
    {text-align: center;color: #ffffff;background-color: #00c3ff;}
    }
    
    .filter-button {
        &:active {background-color: #6e2fe2;color: white;}
    }
    
    .btn-default {
        &:active {background-color: #6e2fe2;color: white;}
    }
    
.btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show>.btn-default.dropdown-toggle {color: #fff;
    background-color: #00c3ff;
    border-color: #00c3ff;
    a {color: #fff;}
    }
    
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {color: #666;}
    
}

.participants-gallery {margin-bottom: 70px;}
.upcoming-event {margin: 70px 0;}
.upcoming-event-card{position:relative;box-shadow: 0 2px 12px rgba(0,0,0,.08);text-align: center;overflow: hidden;box-sizing: border-box; border-radius:20px; margin-bottom: 30px; border-bottom: 5px solid transparent;
    img {width:100%; max-height: 200px;}
    h3 { color: #6e30e1; display: block; font-size: 23px; padding: 25px 20px 20px 20px;text-align: center;}
    p {color: #585858; display: block; font-size: 17px; padding: 0 20px; text-align: center; line-height: 24px; min-height: 110px;}
    span {margin-bottom: 40px; display: block;
        a {font-size: 14px; display:inline-block;
    border: 1px solid #00c3ff;
    border-radius: 30px;
    text-align: center;
    color: #00c3ff;
    background: transparent;
    text-transform: capitalize;
    min-width: 160px;
    padding: 12px 32px;
            &:hover {background: #00c3ff; color: #fff; border: 1px solid #00c3ff;}
        }
    }
    
    &:hover {border-bottom: 5px solid #6b2ee1;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out;}

}

.fancybox img {//border-bottom: 1px solid #fff; border-right: 1px solid #fff; z-index: 1000;
//    &:hover {-webkit-transform: scale(1.3);
//	transform: scale(1.3); z-index: 9999;}
}

.gallery-title h2 {padding: 0 0 20px 0; text-align: center; display: block;}

#EventList { position: relative;
.owl-item img {width: 88%; margin: 0 auto; border-radius:30px; }
    .owl-nav button.owl-prev {font-size: 50px; position: absolute; left:0; top: 27%;}
    .owl-nav button.owl-next {font-size: 50px; position: absolute; right:0; top: 27%;}
}

.voting-details { padding: 50px 0; display: block;
    h2 { display: block; color: #9d1ec6; font-size: 45px; text-align: center; font-weight: 600;}
    span { margin-top: 10px; display: inline-block;
        a {color: #00c3ff; font-size: 18px; text-align: right; border: 1px solid #00c3ff; border-radius: 30px; padding: 12px 50px;
            &:hover {color: #ffffff;background-color: #00c3ff;}
        }
    }
    .vote-details { margin-top: 40px;
        h3 { display: block; font-size: 33px; padding-bottom: 10px;}
        p {display: block; font-size: 20px; color: #2f2f2f;}
        span {font-size: 17px; color: #7c7c7c;}
        h4 { display: block; font-size: 28px; color: #a42dd0; padding: 30px 0 10px 0;
            span {font-size: 23px;color: #a0a0a0;}
        }
        ul { display: block;
            li {font-size: 20px; color: #585858; list-style: none; padding: 0px 0 15px 20px; background: url(../images/bullet.png) no-repeat left 9px;}
        }
        
        form textarea {width: 100%; height: 150px; background: #f4f4f4; border-radius:10px; border: 0px; padding: 20px; font-size: 22px; color: #666; }
        button.btn {color: #00c3ff; font-size: 18px; text-align: right; border: 1px solid #00c3ff; border-radius: 30px; padding: 10px 30px; background: transparent; float: right; margin-top: 20px;
        &:hover { color: #ffffff;background-color: #00c3ff;}
            
            &:focus{box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);}
        }
    }
    ul.comments { width: 100%; margin-top: 20px;
        li { border-bottom: 1px solid #ccc; padding: 15px 0;
            span { font-size: 20px; color: #444444; font-weight: bold; padding-bottom: 2px; margin-top: 0; display: block;
            
                &:last-child{font-size: 12px; color: #ccc; padding-bottom: 10px; font-weight: 100;}
            }
            p { font-size: 18px; color: #585858;}
            &:last-child {border-bottom: none;}
        }
    }


/*-----Rating---*/
.rating {display: flex;
.rate {height: 70px;padding: 0;float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:50px;
    font-size:55px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#cacaca;
    @media (max-width: 767px){
                width:33px;font-size:40px;
            }
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #FFCD05;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FFCD05;  
}
    
    
/*.rate:not(:checked) > label:active,
.rate:not(:checked) > label:active ~ label {
    color: #f00;  
}*/
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #FFCD05;
}
    
    
/*.rate > input:checked + label:active,
.rate > input:checked + label:active ~ label,
.rate > input:checked ~ label:active,
.rate > input:checked ~ label:active ~ label,
.rate > label:active ~ input:checked ~ label {
    color: #f00;
}*/
    
    }
 
   
    
    
    .filter-button{font-size: 18px;border: 1px solid #ccc;border-radius: 30px;text-align: center;color: #6e2fe2;margin-bottom: 30px;background:transparent;min-width: 160px;padding: 12px 0;
     @media(max-width: 575px){
       min-width: 138px;}
}
.filter-button:hover
{border: 1px solid #6e2fe2;text-align: center;color: #ffffff;background-color: #6e2fe2;}
.btn-default:active .filter-button:active
{background-color: #6e2fe2;color: white;
}
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {color: #666;}
}

/*Small Rating Start*/
.rating-one { width:100px; height:20px; background: url("../images/rating.svg") no-repeat 0 0; background-size:100%; float:right; margin-bottom:30px; margin-top:10px;}
.rating-two { width:100px; height:20px; background: url("../images/rating.svg") no-repeat 0 -22px; background-size:100%; float:right; margin-bottom:30px; margin-top:10px;}
.rating-three {width:100px; height:20px; background: url("../images/rating.svg") no-repeat 0 -41px; background-size:100%; float:right; margin-bottom:30px; margin-top:10px;}
.rating-four { width:100px; height:20px; background: url("../images/rating.svg") no-repeat 0 -63px; background-size:100%; float:right; margin-bottom:30px; margin-top:10px;}
.rating-five { width:100px; height:20px; background: url("../images/rating.svg") no-repeat 0 -82px; background-size:100%; float:right; margin-bottom:30px; margin-top:10px;}
/*Small Rating End*/

/*---Gallery---*/
#masonry {
  column-count: 1;
  column-gap: 0em;
    
    .item {
  margin: 0;
  width: 100%;
  cursor: pointer;
        
        img {
  max-width: 100%;
  height: auto;
  width: 100%;
  
  /*idk why but this fix stuff*/
}
}

.item.active {
  animation-name: active-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
    
    img {
  animation-name: active-in-img;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
    &:before {
  content: "+";
  transform: rotate(45deg);
  font-size: 48px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color:rgba(0,0,0,0.85);
  border-radius: 50%;
  width:48px;
  height:48px;
  text-align:center;
  line-height:48px;
  z-index:12;
}
}


@keyframes active-in {
  0% {
    opacity:1;
    background-color:white;
  }
  
  50% {
    opacity:0;
    background-color:rgba(0,0,0,0.90);
  }
  
  100% {
    opacity: 1;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.90);
  }
}

@keyframes active-in-img {
  0% {
    opacity:1;
    transform:translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%;
  }
  49% {
    opacity:0;
    transform: translate(0%, -50%);
  }
  50% {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  100% {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: auto;
  max-height: 95vh;
  opacity:1;
  }
}
}

@media(min-width: 480px) {
  #masonry {
    column-count: 1;
    column-gap: 0px;
  }
}

@media(min-width: 640px) {
  #masonry {
    column-count: 2;
    column-gap: 0px;
  }
}

@media(min-width: 720px) {
  #masonry {
    column-count: 2;
    column-gap: 0px;
  }
}

@media(min-width: 1200px) {
  #masonry {
    column-count: 3;
    column-gap: 0px;
  }
}

/*---Gallery end---*/



.box14{position:relative;box-shadow: 0 2px 12px rgba(0,0,0,.08);text-align: center;overflow: hidden;box-sizing: border-box; border-radius:20px; margin-bottom: 30px; border-bottom: 5px solid transparent;
    -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
    transition-property: transform, opacity;
    
    &:hover {border-bottom: 5px solid #8c21c6;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
    transition: all .5s ease-in-out;}
    h3 { color: #000; display: block; font-size: 23px; padding: 20px 0 0px 0;}
    span {color: #797979; display: block; font-size: 14px; padding: 0 0 20px 0;}
    ul { border-top:1px solid #dcdcdc; margin: 0 auto; width: 90%;
        li { width:48%; display: inline-block; font-size: 12px; color: #00a1d3; padding: 10px 0;
            &:first-child {text-align: left;}
            &:last-child {text-align: right;}
        }
    }

}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(147,83,183,.8);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;max-height:  200px;}
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14:hover .box-content:before {border:1px solid rgba(255,255,255,.5);}
.box14 .box-content:before{border-radius:20px; transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform: translateY(5px);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{ top: 38%; left: 32%; font-size:16px;color:#fff; padding:15px 20px; background:transparent;opacity:0;  border-radius:  30px; border: 1px solid #fff; transform:translate3d(0,-50px,0);transition:all .7s ease 0s; display: inline-block;cursor: pointer; position: absolute; z-index: 9; 
    &:hover {background: #00c3ff; color: #fff; border: 1px solid #00c3ff;}
    a {color: #fff; cursor: pointer; width: 100%; line-height: 23px; 
    }
}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s;
//    &:hover {a {color: #00c3ff;}}
}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#d79719;border-color:#d79719}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}
 
.load-btn { text-align: center; 
    .btn {margin-top: 30px; font-size: 18px;
   background: #571bc4;border-radius: 35px;color: #fff;
padding: 10px 40px;text-transform: uppercase;margin-bottom: 12px;
    
    &:focus{box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;}
    }
    
    
}   
   


.rld {
    background: rgba(0,0,0,0.5);
    padding: 20px 25px;
      li {
        display: inline-block;
        color: $white;
        font-size: 58px;
        text-transform: uppercase;
        line-height: 59px;
        position: relative;
        padding-left: 20px !important;
        margin-left: 8px;
        font-family: 'AVANTGA2';
          @media(max-width: 575px){
            font-size: 16px;  
            line-height: 25px;
          }
          &:first-child{padding-left:0 !important;margin-left: 0 !important;}
          &:first-child:before{
            content:none;
          }
          &:before{
            content:"\f111";
            position: absolute;
            left: 0;
            top:0;
            font-family: 'fontawesome';
            font-size: 12px;
          }
          @media(min-width: 576px) and (max-width:767px){
              font-size: $mediam-font + 2;
              line-height: 30px;
          }
          @media(min-width: 768px) and (max-width: 991px){
            font-size: 40px;
          }
          @media(min-width: 992px) and (max-width: 1199px){
            font-size: 56px;
          }
    }
}
.rld-search{
  margin-top: 15px;
    form{
      width: 1%;
      -webkit-flex: 1 1 auto; /* Safari 6.1+ */
      -ms-flex: 1 1 auto; /* IE 10 */ 
      flex: 1 1 auto;
      position: relative;
    }
    input{
      background: transparent;
      color: $white;
      border-radius: 0;
      font-family: 'AVANTGA2';
        &:focus{border:none;border-right: 2px solid #dad2d2 !important;box-shadow: none;}
    }
    .input-group-append {
      background: $white;
        button {
          background: $white;
          padding-left: 31px;
          border-radius: 0;
          box-shadow: none !important;
          color: $black;
          padding-right: 30px;
          font-size:$small_font;
          border: 1px solid $white;
          font-family: 'AVANTGA2';
          text-transform: capitalize;
            &:hover,&:focus{
              background:$black;
              color: $white;
              border-color: $black;
            }
            @media(max-width: 575px){
              font-size: $small_font - 2;
              padding-left: 20px;
              padding-right: 20px;
            }
            @media(min-width: 576px) and (max-width:767px){
              font-size:13px;
            }
        }
    }
}

/*home banner css end*/

/*10st must read section start*/
.mustRead-block{
  padding: 50px 0;
    @media(max-width: 575px){
      padding: 25px 0;
    }
   
    .owl-stage{
      display: flex;
      display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex;
        .item{
          height: 100%;
        }
    }
    
}
.product-heading {
    padding: 10px 100px 30px 0;
      @media(max-width: 575px){
        padding: 10px 0px 35px 0;
      }
     h3 {
      font-size: $large_font;
      margin-bottom: 0;
      font-family: $opansans;
      font-weight: 600;
      display: inline-block;
        @media(max-width: 575px){
          font-size:13px;
        }
        @media(min-width: 576px) and (max-width:767px){
          font-size: 22px;
        }
    }
    a{
      padding: 0 25px;
      border-radius: 20px;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #b5b4b4;
      text-transform: capitalize;
      font-size: 13px;
      line-height: 30px;
      color: $black;
      font-family: $opansans;
      font-weight: 600;
      &:hover,&:focus{
        color:$white;
        border-color: #9c2bc2;
        background-color: #7728e5; /* fallback color if gradients are not supported */
        background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image:    -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For Firefox (3.6 to 15) */
        background-image:      -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For old Opera (11.1 to 12.0) */ 
        background-image:         linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* Standard syntax; must be last */
      }

    }
    
}
.tg-featureimg {
    margin: 0;
    width: 100%;
    /*float: left;*/
    overflow: hidden;
    position: relative;
    transition: all 300ms ease-in-out;
}
.tg-featureimg {
    /*float: left;*/
    position: relative;
    width: 100%;
    overflow: hidden;
      img{
        width: 100%;
      }
}



.green-flat-block{
  background-image: url('../images/green-flat-bg.png');
  @include bgimg(100% 100%,no-repeat,center);
    @media(max-width: 575px){
      padding: 30px 0;
      margin-top: 25px;
    }
  a{
    font-size: $large_font - 2;
    line-height: 32px;
    font-family: $opansans;
    font-weight: 600;
    color: #333;
    display: block;
      @media(max-width: 575px){
        font-size: 20px;
        line-height: 25px;
      }
      @media(min-width: 576px) and (max-width:767px){
        font-size: $mediam-font;
        line-height: 22px;
      }
      @media(min-width: 992px) and (max-width: 1199px){
        font-size: 24px;
      }
  }
  h3{
    font-family: $opansans;
    font-weight: 600;
      @media(min-width: 576px) and (max-width: 767px){
        font-size: 17px;
      }
      @media(min-width: 768px) and (max-width: 991px){
        font-size: 19px;
      }
  }
  h5{
    font-size:$small_font - 2;
    line-height: 20px;
    font-family: $opansans;
    font-weight: 600;
    margin-bottom: 0;
  }

}
.greenFlat-img{
  margin: -30px 0 -28px 0;
     @media(max-width: 575px){
        margin: 0;
        text-align: center;
      }
}
.red-block {
    background: #d13434;
    color: $white;
    display: inline-block;
    font-size: $mediam-font + 3;
    line-height: 25px;
    padding: 7px 20px;
    text-transform: capitalize;
    font-family: $opansans;
    font-weight: 600;
       @media(max-width: 575px){
        font-size: 16px;
      }
      @media(min-width: 576px) and (max-width:767px){
        padding: 5px 20px;
        font-size: 15px;
      }
      @media(min-width: 992px) and (max-width: 1199px){
        font-size: 20px;
      }
}

/*about green flat css end*/

/*test new spice block css start*/
.newSpice-block {
    padding: 85px 0 35px;
    .new-prod{
      @media(max-width: 575px){
        margin-bottom: 20px;
      }
    }
       
      
}
.newSpice-left h2{
  font-size: 66px;
  line-height: 70px;
  font-family: 'AVANTGA2';
  text-transform: uppercase;
     @media(max-width: 575px){
        font-size: 38px;
        line-height: 40px;
    }
    @media(min-width: 576px) and (max-width: 767px){
      font-size: 42px;
      line-height: 42px;
    }
    @media(min-width: 768px) and (max-width: 991px){
      font-size: 45px;
      line-height: 50px;
    }
    @media(min-width: 992px) and (max-width: 1199px){
      font-size: 61px;
      line-height: 65px;
    }
}
.newSpice-left p{
  font-size: 16px;
  line-height: 20px;
  font-family: 'AVANTGA2';
  text-transform: uppercase;
  color: #515151;
    @media(min-width: 768px) and (max-width: 991px){
      font-size: 14px;
      line-height: 18px;
    }
}
.arrival-book li {
    display: inline-block;
    margin-right: 30px;
      &:last-child{
        margin-right:0;
      }
}
/*test new spice block css end*/

/*category filter start*/
.cat_product {margin-bottom: 25px;}
.categoryFilter{
  padding: 60px 0;
    @media(max-width: 767px){
      padding: 25px 0;
    }
    @media(min-width: 768px) and (max-width: 991px){
      padding: 40px 0;
    }
    @media(min-width: 992px) and (max-width: 1199px){
      padding: 40px 0;
    }
   /* .book-content a {
      font-size: 21px;
        @media(min-width: 768px) and (max-width: 991px){
          font-size: 19px;
        }
        @media(min-width: 992px) and (max-width: 1199px){
          font-size: 18px;
        }
    }*/
    
}
.categoryFilter ul{
  margin-bottom: 30px;
    li button{
      background: transparent;
      padding: 8px 30px;
      color: #515151;
      font-family: 'AVANTGA2';
      font-size:$small_font - 2;
      border: 1px solid #ddd;
      border-radius: 20px;
      margin-right: 7px;
      margin-bottom: 15px;
      cursor: pointer;
        &:last-child{
          margin-right:0;
        }
        &:hover,&:focus,&.active{
          background: #515151;
          color: $white;
        }
        @media(max-width: 575px){
          padding: 8px 26px;
          font-size: 13px;
        }
    }
}
/*category filter end*/

/*book destails css start*/
.book_details{
  background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* Standard syntax; must be last */
  padding-bottom: 35px;
    .home-logo {
      margin-bottom: 40px;
    }
    .loginLogo {
      margin-bottom: 0;
    }
    .input-group-append button:hover, .input-group-append button:focus,.input-group-append button:active {
    background: #e2e2e2;
    color: #000;
    border-color: #e2e2e2;
}
.rld {
  background: transparent;
  padding: 0;
    .rld-search{
      margin-top: 0;
    }
}

}
.book-img {
    border: 1px solid #dedede;
    padding: 40px 30px;
    background: transparent;
    height: auto;
      @media(min-width: 768px) and (max-width: 991px){
        padding: 30px 10px;
      }
      @media(min-width: 320px) and (max-width: 480px){
        padding: 20px 50px;
      }
      @media(min-width: 481px) and (max-width: 575px){
        padding: 20px 150px;
      }
      @media(max-width: 575px){
        display:block;
        border: none;
      }
      @media(min-width: 576px) and (max-width: 767px){
         padding: 25px 10px;
      }
      @media(max-width: 767px){
        &:hover .tg-featureimg {
            padding: 9px 13px 9px 0;
        }
      }
      img {
        width: 100%;
      }
}
.details-content{
  .description-content{
    position: relative;
      .read-more{
        position: absolute;
        bottom: -30px;
        left:14px;
        text-decoration: underline;
          &:hover,&:focus{text-decoration:none;color: #9c2bc2;}
      }
  }
  p {
    font-size: 14px;
  }
  a{
    color: #9c2bc2;
    font-size: 14px;
      &:hover,&:focus{
        color:#000;
      }
  }
  h2 {
    font-size: 22px;
    /* padding-top: 0px; */
    line-height: 22px;
    margin-bottom: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
      @media(max-width: 575px){
        font-size: 18px;
        margin-bottom: 10px;
      }
      @media(min-width: 575px) and (max-width: 767px){
        font-size: 22px;
        margin-bottom: 15px;
      }
  }
  h3 {
    font-size: 17px;
    font-family: $opansans;
    font-weight: 600;
    margin-bottom: 15px;
      @media(max-width: 575px){
        font-size: 14px;
        margin-bottom: 6px;
      }
      @media(min-width: 575px) and (max-width: 767px){
        font-size: 14px;
        margin-bottom: 10px;
      }
  }
 /* h6 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
    text-transform: capitalize;
  }*/
  h4 {
    font-size: 17px;
    font-style: italic;
    font-family: $opansans;
    font-weight: 600;
    margin-bottom: 0;
      @media(max-width: 575px){
        font-size: 14px;
      }
      @media(min-width: 575px) and (max-width: 767px){
        font-size: 13px;
      }
  }
} 

.details-panel{
    box-shadow: 0px 0px 37px rgba(183, 197, 224,0.7);
    .category-block{
      padding:  0 7px 10px;
    }
    & > h3 {
           font-size: 18px;
          text-transform: uppercase;
          color: #5e2c7f;
          font-weight: 600;
          padding: 8px 20px;
          border-bottom: 1px solid #5e2c7f;
          line-height: 30px;
          margin-bottom: 0;
          }
    @media(min-width: 768px){
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 60px;
    }
  
  .detail-accordion {
    font-size: 15px;
    line-height: 20px;
    padding: 13px 16px;
    text-align: left;
    font-family: $opansans;
    font-weight: 400;
    text-transform: capitalize;
    border:none;
    border-top: 1px solid #ddd;
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
     a{
      color: #4c4c4c;text-decoration: none;
      text-transform: uppercase;
        &:hover,&:focus{
          color:#7728e5;
        }
     }
      
      @media(min-width: 575px) and (max-width: 767px){
        font-size: 13px;
        padding: 12px 20px;
      }
      &:first-of-type{
        border:0;
      }
      /*&.active,&:hover{
        background: #4c4c4c;
        color: $white;
      }*/
      & span{
        position: absolute;
        right: 5px;
        top: 15px;
      }
      /*&:hover span:after{color: $white;}*/
      & span:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
      }
      &.active a,&:hover a{
        background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
        background-image:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
        background-image:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      &.active span:after {
        content: "\2212";
       /* color: $white;*/
      }
  }
}


.details-panel .panel {
  padding: 3px 18px 10px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.detail-subcategory{
  padding-left: 20px;
  @media(max-width: 575px){
    text-align: left;
  }
   a{
    color: #4c4c4c;
    font-size:15px;
    line-height: 20px;
    position: relative;
    font-family: $opansans;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
      &.active,&:hover{
        background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
        background-image:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
        background-image:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      &:before{
        content: "\f111";
        position: absolute;
        left: -14px;
        line-height: normal;
        top: 8px;
        font-family: 'fontawesome';
        font-size: 5px;
        -webkit-text-fill-color: #000;
      }
   }
}
.detail-block{
  padding: 20px 0 30px 0;
    @media(max-width: 767px){
      padding: 20px 0 30px 0;
    }
}
.wishlist-list th, .wishlist-list td {
    padding: 7px;
    border: 1px solid #bfbfbf;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.wishlist-table,.wishlistavail-table  {
    max-height: 250px;
    overflow-y: scroll;
}
.wishlist-list th {
    background: #ddd;
    color: #000;
}
.wishlist-list tr:nth-child(even){background-color: #f2f2f2}
.prev_link {
    color: #9c2bc2;
    font-size: 17px;
    font-family: "Open Sans";
    text-decoration: underline;
      &:hover,&:focus{
        color:#7728e5;
        text-decoration: none;
      }
}
.noBookText {
    font-size: 17px;
    font-family: "Open Sans";
}
/*book destails css end*/

.all-books-block,.search-books-block{
    padding: 20px 0 30px 0;
      @media(max-width: 767px){
        padding: 30px 0;
      }
      
}

/*login page css start*/
.loginRight {
    color: $white;
    font-family: 'Lato';
    text-transform: uppercase;
      @media(min-width: 768px){
        padding-left: 20%;
      }
      h3 {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 0;
          @media(max-width: 767px){
            font-size: 28px;
          }
          @media(min-width: 768px) and (max-width: 991px){
            font-size: 46px;
          }
      }
      h4 {
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 0;
        @media(max-width: 767px){
            font-size: 28px;
        }
        @media(min-width: 768px) and (max-width: 991px){
          font-size: 30px;
        }
      }
      h2 {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 0;
        @media(max-width: 767px){
            font-size: 32px;
        }
        @media(min-width: 768px) and (max-width: 991px){
          font-size: 38px;
        }
      }
      h5{
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 0;
        @media(max-width: 767px){
            font-size: 33px;
        }
        @media(min-width: 768px) and (max-width: 991px){
          font-size: 38px;
        }
          span{
            font-size: 48px;
            font-weight: 900;
            background: #fff;
            color: #3d1f64;
            padding-left: 5px;
            padding-right: 5px;
            @media(max-width: 767px){
              font-size: 33px;
            }
            @media(min-width: 768px) and (max-width: 991px){
              font-size: 38px;
            }
          }
      }
}
.login-section{
  
  /*background-image: url(../images/login-bg.jpg), linear-gradient(to right, #5d20df , #7e40e5);*/ 
    background-image: url(../images/login.jpg), linear-gradient(to right, #5d20df , #7e40e5);

    background-repeat: no-repeat, no-repeat;
    background-position: center top, center;
    /*background-size: auto, cover;*/
    background-size:cover;
  padding:90px 0;
    
    
    
    @media (max-width: 767px){
          padding:40px 0;
        }
    
    @media(max-width: 767px){
      background: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
      background:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
      background:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
    }
    
    
    @media (min-width: 768px) and (min-height: 768px){
      height:100vh;
    }
}
.login-panel {
    background: #fff;
    padding: 55px 45px;
      @media(min-width: 576px) and (max-width: 767px){
        padding: 55px 20px;
      }
      @media(min-width: 768px) and (max-width: 991px){
        padding: 55px 25px;
      }
      @media(max-width: 575px){
        padding: 40px 14px;
      }
      .loginLogo {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
        border: 1px solid #ddd;
        background: #e2e2e2;
        @media(max-width: 767px){
          width: auto;
        }
          .neosoft-logo {
            background: $white;
            /*border-right: 1px solid #b6b6b7;
            padding-top: 0;
            padding-bottom: 0;*/
          }
          .appended_logo{
            /*background: transparent;
            padding-top: 0;
            padding-bottom: 0;*/
          }
      }
      
}
.login-coverBg{
  position: relative; width: 89%;
    
  @media(max-width: 767px) {width:100%;}
    
    @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait) { width:99%;}
    
    @media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : landscape) { width:84.5%;}
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  { width:78%;}
/*  &::before{
        content:"";
        @include bgimg(100% 100%,no-repeat,center top);
        background-image: url(../images/login-block-bg.png);
        position:absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 100%;
      }*/
}
.login-panel{
  p{
    font-size:$small_font;
    line-height: 21px;
    color: #191a1b;
    font-family: 'Lato';
    margin-left: 12px;
      @media(max-width: 575px){
        font-size:13px;
        line-height: 19px;
      }
      @media(min-width: 576px) and (max-width: 991px){
        font-size:$small_font - 1         ;
        line-height: 20px;
      }
  }
  h4{
    font-size:22px;
    color: #3a3b3e;
    font-family: 'Lato';
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 12px;
      background-image: -webkit-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #7728e5 5%, #9c2bc2  20%); /* Standard syntax; must be last */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .checkbox{

        label {
          display: inline;
          font-family: 'Lato';
          color: #3a3b3e;
          margin: 0 0 0 5px;
          text-transform: capitalize;
          width: auto;

        }
        input {
            vertical-align: middle;
            /* padding-right: 14px !important; */
            cursor: pointer;
            font-size:15px;
          }
      }
      
}
.login-block {
      .form-group {
        margin-bottom: 15px;
          input{
            border-radius: 0;
            border: none;
            background: transparent;
            box-shadow: none !important;
            padding-left: 45px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: 'Lato';
            border-bottom: 1px solid #d0d1d3;
            height: auto;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: 'Lato';
              }
              ::-moz-placeholder { /* Firefox 19+ */
                font-family: 'Lato';
              }
              :-ms-input-placeholder { /* IE 10+ */
                font-family: 'Lato';
              }
              :-moz-placeholder { /* Firefox 18- */
                font-family: 'Lato';
              }
          }
      }
      .login-emailId,.login-pass{
        position: relative;
      }
      .login-emailId:before,.login-pass:before{
        content: "";
        @include bgimg(contain,no-repeat,center);
        position: absolute;
        left: 12px;
        top: 18px;
        height: 12px;
        width: 20px;
      }
      .login-emailId:before{
        background-image: url(../images/envelop-img.png);
      }
      .login-pass::before{
        background-image: url(../images/key-img.png);
      }
      
     
}
.home-login .checkbox ,.home-login .submit{margin-left: 12px;}
.home-login p{
  font-size:$small_font - 2;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  color: #333333;
  margin:10px 0 10px 12px !important;
    @media(max-width: 575px){
      font-size: 12px;
    }
    @media(min-width: 576px) and (max-width: 991px){
      font-size:$small_font - 3;
    }
}
.submit {
    color: $white;
    font-size: $small_font;
    display: inline-block;
    font-family: 'lato';
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 6px 28px;
    background-color: #7728e5; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #7728e5 30%, #9c2bc2 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2 70%); /* Standard syntax; must be last */
    box-shadow: none !important;
    &:hover,&:focus{
      color:$white;
      background-color: #7728e5; /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(right, #9c2bc2 30%, #7728e5 70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #9c2bc2 30%, #7728e5 70%); /* Standard syntax; must be last */
    }
}
/*login page css end*/

.wishlist-text {
    font-size: 21px;
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: 20px;
      .prev_link {
        font-weight: 400;
        float: right;
    }
}
.mywishlist-table td a:not(.btn-secondary) {
    text-align: left !important;
    color: #222;
    text-decoration: none;
    background-image: -webkit-linear-gradient(to right, #7728e5 30%, #9c2bc2  70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #7728e5 30%, #9c2bc2  70%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #7728e5 30%, #9c2bc2  70%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #7728e5 30%, #9c2bc2  70%); /* Standard syntax; must be last */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      &:hover:not(.btn-secondary),&:focus:not(.btn-secondary){
        background-image: -webkit-linear-gradient(to right, #9c2bc2  30%, #7728e5  70%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(to right, #9c2bc2  30%, #7728e5  70%); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(to right, #9c2bc2  30%, #7728e5  70%); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #9c2bc2  30%, #7728e5  70%); /* Standard syntax; must be last */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      }

      @media(max-width: 991px){
        text-align: center !important;
      }
    &.remove {
      color: #fff;
    }
}
.mywishlist-table td,.mywishlist-table th,.wishlistavail-table td,.wishlistavail-table th{vertical-align: middle !important;font-size: 14px;}
.mywishlist-table th ,.wishlistavail-table th{
    background: #ddd;
    border-bottom: none !important;
    color: $black;
    border: 1px solid #bfbfbf;
}
.mywishlist-table tr:nth-child(even),.wishlistavail-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media(max-width: 767px){
  .wishlistavail-table  {
    border: none;
    img {
      height: 75px;
      width: 60px;
      max-width: 100%;
    }
    display: block;
      thead,tbody,th,td,tr{
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr{
        margin-bottom: 15px;
      } 
      td{
        min-height: 36px;    
        border: none;
        position: relative;
        padding-left: 50% !important;
        font-weight: 600;
        color: #898989;
        word-break: break-word;
        border: 1px solid #ddd;
        
        &:nth-of-type(1)::before{
          content: "Sr.No.";
        }
        &:nth-of-type(2)::before{
          content: "Location";
        }
        &:nth-of-type(3)::before{
          content: "Available Quantity";
        }
        &:nth-of-type(4)::before{
          content: "Purchased Quantity";
        }
        &:before {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          font-weight: 400;
        }
        &::after {
          content: ":";
          left: 45%;
          position: absolute;
          top: 8px;
          color: #898989;
        }
      }
    } 
}
@media(max-width: 991px){
  .mywishlist-table {
    border: none;
    img {
      height: 75px;
      width: 60px;
      max-width: 100%;
    }
    display: block;
      thead,tbody,th,td,tr{
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr{
        margin-bottom: 15px;
      } 
      td{
        min-height: 36px;    
        border: none;
        position: relative;
        padding-left: 50% !important;
        font-weight: 600;
        color: #898989;
        word-break: break-word;
        border: 1px solid #ddd;
        
        &:nth-of-type(1)::before{
          content: "Book";
        }
        &:nth-of-type(2)::before{
          content: "Author";
        }
        &:nth-of-type(3)::before{
          content: "Wished On";
        }
        &:nth-of-type(4)::before{
          content: "Action";
        }
        &:before {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          font-weight: 400;
        }
        &::after {
          content: ":";
          left: 45%;
          position: absolute;
          top: 8px;
          color: #898989;
        }
      }
    } 
}

@media(max-width: 767px){
.wishlistBy-table td,.wishlistBy-table th
  .mywishlist-table td, .mywishlist-table th,.wishlistBy-table td,.wishlistBy-table th,.issueTo-table td,.issueTo-table th{
    border: 1px solid #dee2e6;
    font-size: 12px;
    line-height: 17px;
}
}
 /*confirm model css start*/
 #confirm-add{
    .modal-content{
      border: none;
      .modal-header {
        background: #e2e2e2;
        color: $black;
        padding-bottom: 10px;
        padding-top: 10px;
          .modal-title{
            font-size: 15px;
            font-weight: 600;
          }
          .close{
            color: $black;
            opacity: 1;
          }
      }
      .modal-body{
        font-size: 14px;
      }
      .modal-footer{
        padding: 12px;
          .btn-secondary{
            border: none;
            padding: 5px 35px;
            border-radius: 7px;
            font-size: 15px;
        }
         .btn-danger{
            border: none;
            box-shadow: none !important;
            padding: 5px 30px;
            border-radius: 7px;
            font-size: 15px;
        }
      }
    }
  
 }

/* error handling css*/
 .help-block{
    color: red;
    font-size: 12px;
    font-weight: 100;
    padding-left: 12px;
}
.create_wishlist{
  @media(min-width: 576px) and (max-width: 767px){
    padding: 10px 15px;
  }
}

@media(max-width: 767px){
   /*wishlisted by table css*/
 .wishlistBy-table {
    border: none;
    display: block;
      thead,tbody,th,td,tr{
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr{
        margin-bottom: 15px;
      } 
      td{
        min-height: 36px;    
        border: none;
        position: relative;
        padding-left: 50% !important;
        font-weight: 600;
        color: #898989;
        word-break: break-word;
        border: 1px solid #ddd;
        
        &:nth-of-type(1)::before{
          content: "Sr No.";
        }
        &:nth-of-type(2)::before{
          content: "Employee Name";
        }
        &:nth-of-type(3)::before{
          content: "Requested On";
        }
        &:before {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          font-weight: 400;
        }
        &::after {
          content: ":";
          left: 45%;
          position: absolute;
          top: 8px;
          color: #898989;
        }
      }
    } 

/*issue to table css*/
.issueTo-table {
    border: none;
    display: block;
      thead,tbody,th,td,tr{
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr{
        margin-bottom: 15px;
      } 
      td{
        min-height: 36px;    
        border: none;
        position: relative;
        padding-left: 50% !important;
        font-weight: 600;
        color: #898989;
        word-break: break-word;
        border: 1px solid #ddd;
        
        &:nth-of-type(1)::before{
          content: "Sr No.";
        }

        &:nth-of-type(2)::before{
          content: "Employee Name";
        }
        &:nth-of-type(3)::before{
          content: "Issued On";
        }
        &:nth-of-type(4)::before{
          content: "Returned  No.";
        }
        &:before {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          font-weight: 400;
        }
        &::after {
          content: ":";
          left: 45%;
          position: absolute;
          top: 8px;
          color: #898989;
        }
      }
    } 
}

/*search css start*/
.test {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
      ul {
        border-top: 1px solid #ddd !important;
          li {
            display: block;
            text-transform: capitalize;
            /* padding: 10px !important; */
            /* font-size: 20px; */
            line-height: normal;
            padding: 0 0 !important;
            margin: 0 !important;
            border-bottom: 1px solid #ddd !important;
              & div{
                font-size: 15px;
                padding: 8px;
              }
              & > div {
                font-size: 15px;
                padding: 5px;
              }
              &:last-child{border: none;}
              &:before{
                content: none;
              }
        }
      }
      
}

@media(min-width: 768px){
.sticky-breadcum {
    background: #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
}
}
.search-loader {
    height: auto;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#Blissphoto [class*=col-]{ padding-left: 2px;  padding-right:45;}
#Blissphoto .green{
  background-color:#6fb936;
}
#Blissphoto .thumb{
    margin-bottom: 2px;
        /*margin-right: -16px;*/
}
        
#Blissphoto .page-top{
    margin-top:85px;
}

/*#Blissphoto img.zoom {
    width: 100%;
    height: 200px;
    border-radius:0;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
} */
#Blissphoto img.zoom {
    width: 100%;
    height: 200px;
    border-radius:0;
    object-fit:cover;
    filter: brightness(65%);
}

#Blissphoto .thumb .zoom:hover {filter: brightness(100%);
}
#Blissphoto .thumb:hover.Mone{display: block; position: absolute; z-index: 99999;}
/*.zoom:hover:after{content: 'hi'; height:100%; width:100%; border: 4px solid red; position: absolute; right: 20%; left:45%; top:45%; }*/
        
/*#Blissphoto .transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  
}*/

#Blissphoto .transition {
    /*-webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);*/
}
#Blissphoto .modal-header {
   
     border-bottom: none;
}
#Blissphoto .modal-title {
    color:#000;
}
#Blissphoto .modal-footer{
  display:none;  
}